secondary-ports-adapters/src/main/java/com/walmart/fms/infrastructure/integration/gateway/store/xsd/orderDownload/PlaceFulfillmentOrder.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!--
version 2.4 - Schema Versioning approach: Remove version from target namespace and change the version number in the optional version attribute at
              the start of the XML schema. For example, in the code below one could change version=”2.3” to version=”2.4”
	            <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" 
		      attributeFormDefault="unqualified" version="2.3">
version 2.5 - Removed the enumeration of the field "code" in "cardType" complexType and incremented version to 2.5;
			  Made the code as pfx:alpha255 instead of xsd:string
version 2.6 - added the elements minIdealDayQuantity, maxIdealDayQuantity, isSellbyDateRequired under orderLines as part of new req from ASDA
			  Ref JIRA#FULORDMGR-1797
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified" attributeFormDefault="qualified"
            targetNamespace="http://www.xmlns.walmartstores.com/SupplyChain/FulfillmentManagement/datatypes/PlaceFulfillmentOrder/"
            xmlns:pfx="http://www.xmlns.walmartstores.com/SupplyChain/FulfillmentManagement/datatypes/PlaceFulfillmentOrder/"
            version="2.6" xmlns:hdr="http://www.xmlns.walmartstores.com/Header/datatypes/MessageHeader/1.4/"
            xmlns:flt="http://www.xmlns.walmartstores.com/Fault/datatypes/MessageFault/1.0/">
    <xsd:import namespace="http://www.xmlns.walmartstores.com/Header/datatypes/MessageHeader/1.4/"
                schemaLocation="MessageHeader.xsd"/>
    <xsd:import namespace="http://www.xmlns.walmartstores.com/Fault/datatypes/MessageFault/1.0/"
                schemaLocation="MessageFault.xsd"/>
    <xsd:simpleType name="alpha1">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="alpha2">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="alpha3">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="alpha6">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="6"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="alpha10">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="alpha16">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="16"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="alpha18">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="18"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="alpha20">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="alpha25">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="25"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="alpha30">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="alpha40">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="alpha50">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="alpha80">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="80"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="alpha100">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="alpha255">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="255"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="alpha512">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="512"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="alpha600">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="600"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="email">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="255"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="gtin">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="([0-9])*"/>
            <xsd:maxLength value="14"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="Account">
        <xsd:sequence>
            <xsd:element name="id" type="pfx:alpha25" minOccurs="0"/>
            <xsd:element name="credentials" type="pfx:Credentials" minOccurs="0"/>
            <xsd:element name="status" type="pfx:Status" minOccurs="0"/>
            <xsd:element name="type" type="pfx:alpha25" minOccurs="0"/>
            <xsd:element name="availableAuthenticationRetries" type="xsd:unsignedShort"
                         minOccurs="0"/>
            <xsd:element name="voiceAuthorizedApprover" type="pfx:Name" minOccurs="0"/>
            <xsd:element name="balance" type="pfx:Amount" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Address">
        <xsd:sequence>
            <xsd:element name="addressLine1" type="pfx:alpha100" minOccurs="0"/>
            <xsd:element name="addressLine2" type="pfx:alpha100" minOccurs="0"/>
            <xsd:element name="addressLine3" type="pfx:alpha100" minOccurs="0"/>
            <xsd:element name="addressLine4" type="pfx:alpha100" minOccurs="0"/>
            <xsd:element name="city" type="pfx:alpha80" minOccurs="0"/>
            <xsd:element name="county" type="pfx:alpha80" minOccurs="0"/>
            <xsd:element name="state" type="pfx:alpha3" minOccurs="0"/>
            <xsd:element name="zip" type="pfx:alpha20" minOccurs="0"/>
            <xsd:element name="type" type="pfx:AddressType" minOccurs="0"/>
            <xsd:element name="country" type="pfx:Country" minOccurs="0"/>
            <xsd:element name="memo" type="pfx:alpha255" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AddressType">
        <xsd:sequence>
            <xsd:element name="code" type="pfx:alpha20" minOccurs="0"/>
            <xsd:element name="description" type="pfx:alpha255" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AlternatePickupContact">
        <xsd:sequence>
            <xsd:element name="firstName" type="pfx:alpha50" minOccurs="0"/>
            <xsd:element name="lastName" type="pfx:alpha50" minOccurs="0"/>
            <xsd:element name="contact" type="pfx:Contact" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Amount">

        <xsd:sequence>

            <xsd:element name="value" type="xsd:float" minOccurs="0"/>
            <xsd:element name="currency" type="pfx:Currency" minOccurs="0"/>
            <xsd:element name="type" type="pfx:alpha10" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AuthorizationDetails">
        <xsd:sequence>
            <xsd:element name="approvalNumber" type="pfx:alpha6" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BaseDivision">
        <xsd:sequence>
            <xsd:element name="code" type="pfx:alpha10" minOccurs="0"/>
            <xsd:element name="description" type="pfx:alpha100" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CardType">
        <xsd:sequence>
            <xsd:element name="code" type="pfx:alpha255" minOccurs="0"/>
            <xsd:element name="description" type="pfx:alpha255" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <!--Added manually on 2015/07/12, Complex type designed by EA -->
    <xsd:complexType name="CarrierBag">
        <xsd:sequence>
            <xsd:element name="carrierBagCount" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="isCarrierBagRequested" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="isCarrierBagCountRequired" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="carrierBagTotalAmount" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <!--Added manually on 2015/07/12, Complex type designed by EA-->
    <xsd:complexType name="CarrierMethod">
        <xsd:sequence>
            <xsd:element name="carrierMethodCode" type="pfx:alpha10" minOccurs="0"/>
            <xsd:element name="name" type="pfx:alpha100" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ChargeCode">
        <xsd:sequence>
            <xsd:element name="code" type="xsd:unsignedInt" minOccurs="0"/>
            <xsd:element name="description" type="pfx:alpha80" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ChargeRate">
        <xsd:sequence>
            <xsd:element name="amount" type="pfx:Amount" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Company">
        <xsd:sequence>
            <xsd:element name="name" type="pfx:alpha80" minOccurs="0"/>
            <xsd:element name="sicBaseIndustryCode" type="xsd:unsignedShort" minOccurs="0"/>
            <xsd:element name="sicSubIndustryCode" type="xsd:unsignedShort" minOccurs="0"/>
            <xsd:element name="sicLineOfBusinessCode" type="xsd:unsignedShort"
                         minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Contact">
        <xsd:sequence>
            <xsd:element name="email" type="pfx:email" minOccurs="0"/>
            <xsd:element name="faxNumber" type="pfx:Phone" minOccurs="0"/>
            <xsd:element name="phone" type="pfx:Phone" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Cost">
        <xsd:sequence>
            <xsd:element name="amount" type="pfx:Amount" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Country">
        <xsd:sequence>
            <xsd:element name="code" type="pfx:alpha2" minOccurs="0"/>
            <xsd:element name="name" type="pfx:alpha100" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Coupon">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:unsignedLong" minOccurs="0"/>
            <xsd:element name="name" type="pfx:alpha100" minOccurs="0"/>
            <xsd:element name="description" type="pfx:alpha512" minOccurs="0"/>
            <xsd:element name="amount" type="pfx:Amount" minOccurs="0"/>
            <xsd:element name="type" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Credentials">
        <xsd:sequence>
            <xsd:element name="email" type="pfx:email" minOccurs="0"/>
            <xsd:element name="userID" type="pfx:alpha20" minOccurs="0"/>
            <xsd:element name="password" type="xsd:string" minOccurs="0"/>
            <xsd:element name="pin" type="xsd:unsignedInt" minOccurs="0"/>
            <xsd:element name="phone" type="pfx:Phone" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Currency">
        <xsd:sequence>
            <xsd:element name="code" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="3"/>
                        <xsd:maxLength value="3"/>
                        <xsd:pattern value="[A-Z][A-Z][A-Z]"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Customer">
        <xsd:complexContent>
            <xsd:extension base="pfx:Person">
                <xsd:sequence>
                    <xsd:element name="id" type="pfx:alpha100" minOccurs="0"/>
                    <xsd:element name="driversLicenseNumber" type="pfx:alpha20" minOccurs="0"/>
                    <xsd:element name="contact" type="pfx:Contact" minOccurs="0"/>
                    <xsd:element name="firstName" type="pfx:alpha50" minOccurs="0"/>
                    <xsd:element name="middleName" type="pfx:alpha50" minOccurs="0"/>
                    <xsd:element name="lastName" type="pfx:alpha50" minOccurs="0"/>
                    <xsd:element name="numberOfRefunds" type="xsd:unsignedInt" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="CustomerAccount">
        <xsd:complexContent>
            <xsd:extension base="pfx:Account">
                <xsd:sequence>
                    <xsd:element name="isBadAccount" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="isPINRequired" type="xsd:boolean" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="CustomerOrder">
        <xsd:sequence>
            <xsd:element name="orderHeader" type="pfx:OrderHeader"/>
            <xsd:element name="status" type="pfx:Status" minOccurs="0"/>
            <xsd:element name="fee" type="pfx:Fee" minOccurs="0"/>
            <xsd:element name="orderTotal" type="xsd:float" minOccurs="0"/>
            <xsd:element name="coupon" type="pfx:Coupon" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="customerInstructions" type="pfx:alpha512" minOccurs="0"/>
            <xsd:element name="IsConfirmationRequested" type="xsd:boolean" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DeliveryContact">
        <xsd:sequence>
            <xsd:element name="firstName" type="pfx:alpha80" minOccurs="0"/>
            <xsd:element name="lastName" type="pfx:alpha80" minOccurs="0"/>
            <xsd:element name="contact" type="pfx:Contact" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DeliveryDetails">
        <xsd:sequence>
            <xsd:element name="deliveryETA" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="deliveryScheduleTimeSlot" type="pfx:TimeRange"
                         minOccurs="0"/>
            <xsd:element name="deliveryInstructions" type="pfx:alpha512" minOccurs="0"/>
            <xsd:element name="doorstepTime" type="xsd:time" minOccurs="0"/>
            <xsd:element name="deliveryZone" type="pfx:alpha20" minOccurs="0"/>
            <xsd:element name="deliveryLocation" type="pfx:Location" minOccurs="0"/>
            <!-- Added deliveryNode to accommodate the ask for RemoteDispense. DeliveryNode will have "Location" details too which may be same as "deliveryLocation".
                 Added on 12/8/2015 -->
            <xsd:element name="deliveryNode" type="pfx:Node" minOccurs="0"/>
            <xsd:element name="deliveryContact" type="pfx:DeliveryContact" minOccurs="0"/>
            <xsd:element name="carrierMethodCode" type="pfx:alpha10" minOccurs="0"/>
            <xsd:element name="shippingMethod" type="pfx:ShippingMethod" minOccurs="0"/>
            <xsd:element name="vehicleRegistrationNumber" type="pfx:alpha20" minOccurs="0"/>
            <xsd:element name="carrierMethod" type="pfx:CarrierMethod" minOccurs="0"/>
            <xsd:element name="deliveryNoteOrderMessage" type="pfx:Message" minOccurs="0"/>
            <xsd:element name="deliveryNoteMarketingMessage" type="pfx:Message"
                         minOccurs="0"/>
            <xsd:element name="deliveryNoteReturnInstructions" type="pfx:Message"
                         minOccurs="0"/>
            <xsd:element name="shipETA" type="xsd:dateTime" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Department">
        <xsd:sequence>
            <xsd:element name="number" type="xsd:unsignedInt" minOccurs="0"/>
            <xsd:element name="description" type="pfx:alpha80" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Dimensions">
        <xsd:sequence>
            <xsd:element name="height" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="width" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="depth" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="uom" type="pfx:alpha20" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Discount">
        <xsd:sequence>
            <xsd:element name="amount" type="pfx:Amount" minOccurs="0"/>
            <xsd:element name="type" type="pfx:alpha50" minOccurs="0"/>
            <xsd:element name="description" type="xsd:string" minOccurs="0"/>
            <xsd:element name="percent" type="xsd:decimal" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DiscountCard">
        <xsd:sequence>
            <xsd:element name="cardNumber" type="pfx:alpha16" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DispatchMethod">
        <xsd:sequence>
            <xsd:element name="code" type="pfx:alpha10" minOccurs="0"/>
            <xsd:element name="name" type="pfx:alpha100" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Fee">
        <xsd:sequence>
            <xsd:element name="id" type="pfx:alpha100" minOccurs="0"/>
            <xsd:element name="amount" type="pfx:Amount" minOccurs="0"/>
            <xsd:element name="tax" type="pfx:Tax" minOccurs="0"/>
            <xsd:element name="type" type="pfx:alpha50" minOccurs="0"/>
            <xsd:element name="feeRate" type="pfx:ChargeRate" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FulfillmentMethod">
        <xsd:sequence>
            <xsd:element name="code" type="pfx:alpha10" minOccurs="0"/>
            <xsd:element name="name" type="pfx:alpha100" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FulfillmentOrder">
        <xsd:sequence>
            <xsd:element name="requestNumber" type="xsd:unsignedLong" minOccurs="0"/>
            <xsd:element name="orderHeader" type="pfx:OrderHeader" minOccurs="0"/>
            <xsd:element name="orderType" type="pfx:alpha20" minOccurs="0"/>
            <xsd:element name="status" type="pfx:Status" minOccurs="0"/>
            <xsd:element name="node" type="pfx:Node"/>
            <xsd:element name="pickupDetails" type="pfx:PickupDetails" minOccurs="0"/>
            <xsd:element name="deliveryDetails" type="pfx:DeliveryDetails" minOccurs="0"/>
            <xsd:element name="returnDetails" type="pfx:ReturnDetails" minOccurs="0"/>
            <xsd:element name="totalCouponAmount" type="xsd:float" minOccurs="0"/>
            <xsd:element name="fee" type="pfx:Fee" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="plannedDateForFulfillment" type="xsd:date" minOccurs="0"/>
            <xsd:element name="pickingInstructions" type="pfx:PickingInstructions" minOccurs="0"/>
            <xsd:element name="loadGroupNumber" type="xsd:unsignedLong" minOccurs="0"/>
            <xsd:element name="loadSequenceNumber" type="pfx:alpha10" minOccurs="0"/>
            <xsd:element name="togetherCode" type="pfx:alpha2" minOccurs="0"/>
            <xsd:element name="fulfillmentOrderTotal" type="xsd:float" minOccurs="0"/>
            <xsd:element name="isShipTogether" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="isPrepaid" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="dueDate" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="dispenseInstructionText" type="pfx:alpha512" minOccurs="0"/>
            <xsd:element name="dispenseMessageText" type="pfx:alpha512" minOccurs="0"/>
            <xsd:element name="returnDC" type="pfx:Node" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GlobalTradeItem">
        <xsd:sequence>
            <xsd:element name="gtin" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:pattern value="([0-9])*"/>
                        <xsd:maxLength value="14"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="description" type="pfx:alpha100" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Issuer">
        <xsd:sequence>
            <xsd:element name="iin" type="pfx:alpha6" minOccurs="0"/>
            <xsd:element name="name" type="pfx:alpha80" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Item">
        <xsd:sequence>
            <xsd:element name="number" type="xsd:unsignedInt" minOccurs="0"/>
            <xsd:element name="cost" type="pfx:Cost" minOccurs="0"/>
            <xsd:element name="sKU" type="pfx:SKU" minOccurs="0"/>
            <xsd:element name="purchasedBy" type="pfx:Company" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Language">
        <xsd:sequence>
            <xsd:element name="code" type="pfx:alpha10" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Location">
        <xsd:sequence>
            <xsd:element name="locationAddress" type="pfx:Address" minOccurs="0"/>
            <xsd:element name="countryCode" type="pfx:alpha2"/>
            <xsd:element name="country" type="pfx:alpha255" minOccurs="0"/>
            <xsd:element name="globalLocationNumber" type="xsd:unsignedLong" minOccurs="0"/>
            <xsd:element name="name" type="pfx:alpha100" minOccurs="0"/>
            <xsd:element name="currency" type="pfx:Currency" minOccurs="0"/>
            <xsd:element name="geoCode" type="xsd:unsignedLong" minOccurs="0"/>
            <xsd:element name="language" type="pfx:Language" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MembershipAccount">
        <xsd:complexContent>
            <xsd:extension base="pfx:CustomerAccount">
                <xsd:sequence>
                    <xsd:element name="membershipNumber" type="xsd:unsignedLong" minOccurs="0"/>
                    <xsd:element name="membershipType" type="pfx:MembershipAccountType"
                                 minOccurs="0"/>
                    <xsd:element name="company" type="pfx:Company" minOccurs="0"/>
                    <xsd:element name="createdForLocation" type="pfx:Location" minOccurs="0"/>
                    <xsd:element name="cardholderPrefixNumber" type="pfx:alpha10"/>
                    <xsd:element name="cardHolderNumber" type="pfx:alpha10"/>
                    <xsd:element name="languageCode" type="pfx:alpha3" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="MembershipAccountType">
        <xsd:sequence>
            <xsd:element name="code" type="xsd:unsignedInt" minOccurs="0"/>
            <xsd:element name="name" type="pfx:alpha50" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Message">
        <xsd:sequence>
            <xsd:element name="messageLine1" type="pfx:alpha600" minOccurs="0"/>
            <xsd:element name="messageLine2" type="pfx:alpha600" minOccurs="0"/>
            <xsd:element name="messageLine3" type="pfx:alpha600" minOccurs="0"/>
            <xsd:element name="messageLine4" type="pfx:alpha600" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MessageExtension">
        <xsd:sequence>
            <xsd:element name="name" type="pfx:alpha20"/>
            <xsd:element name="value" type="pfx:alpha255"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Name">
        <xsd:sequence>
            <xsd:element name="first" type="pfx:alpha80" minOccurs="0"/>
            <xsd:element name="middle" type="pfx:alpha80" minOccurs="0"/>
            <xsd:element name="middleInitial" type="pfx:alpha1" minOccurs="0"/>
            <xsd:element name="last" type="pfx:alpha80" minOccurs="0"/>
            <xsd:element name="fullName" type="pfx:alpha255" minOccurs="0"/>
            <xsd:element name="prefix" type="pfx:alpha50" minOccurs="0"/>
            <xsd:element name="suffix" type="pfx:alpha50" minOccurs="0"/>
            <xsd:element name="additionalLastName" type="pfx:alpha80" minOccurs="0"/>
            <xsd:element name="initials" type="pfx:alpha30" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Node">
        <xsd:sequence>
            <xsd:element name="location" type="pfx:Location"/>
            <xsd:element name="nodeID">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedInt">
                        <xsd:minInclusive value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="type" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="HO"/>
                        <xsd:enumeration value="PMDC"/>
                        <xsd:enumeration value="RHO"/>
                        <xsd:enumeration value="apparelDC"/>
                        <xsd:enumeration value="dcStore"/>
                        <xsd:enumeration value="destination"/>
                        <xsd:enumeration value="dotcom"/>
                        <xsd:enumeration value="dsv"/>
                        <xsd:enumeration value="eCommerceRetail"/>
                        <xsd:enumeration value="eCommerceRetailSpecialty"/>
                        <xsd:enumeration value="eCommerceRetailWarehouseDC"/>
                        <xsd:enumeration value="eCommerceWholesale"/>
                        <xsd:enumeration value="ecomDC"/>
                        <xsd:enumeration value="gasStations"/>
                        <xsd:enumeration value="groceryDC"/>
                        <xsd:enumeration value="importsDC"/>
                        <xsd:enumeration value="importsWholesale"/>
                        <xsd:enumeration value="inboundTransportation"/>
                        <xsd:enumeration value="logisticsEliminations"/>
                        <xsd:enumeration value="pharmacyDC"/>
                        <xsd:enumeration value="regionalDC"/>
                        <xsd:enumeration value="retail"/>
                        <xsd:enumeration value="retailConnectivity"/>
                        <xsd:enumeration value="retailFinancialServices"/>
                        <xsd:enumeration value="retailOptical"/>
                        <xsd:enumeration value="retailPharmacy"/>
                        <xsd:enumeration value="retailPhotoCenter"/>
                        <xsd:enumeration value="retailShoes"/>
                        <xsd:enumeration value="retailSpecialty"/>
                        <xsd:enumeration value="retailSpecialtyWarehouse/DC"/>
                        <xsd:enumeration value="retailTLE"/>
                        <xsd:enumeration value="retailWarehouse/DC"/>
                        <xsd:enumeration value="returnCenter"/>
                        <xsd:enumeration value="samsclub"/>
                        <xsd:enumeration value="serviceBanking"/>
                        <xsd:enumeration value="serviceCenter"/>
                        <xsd:enumeration value="serviceParkingLot"/>
                        <xsd:enumeration value="serviceRestaurant"/>
                        <xsd:enumeration value="serviceRestaurantWarehouse/DC"/>
                        <xsd:enumeration value="store"/>
                        <xsd:enumeration value="supplier"/>
                        <xsd:enumeration value="transportation"/>
                        <xsd:enumeration value="transportationRetail"/>
                        <xsd:enumeration value="warehouse/DC"/>
                        <xsd:enumeration value="wholesale"/>
                        <xsd:enumeration value="wholesaleConnectivity"/>
                        <xsd:enumeration value="wholesaleOptical"/>
                        <xsd:enumeration value="wholesalePharmacy"/>
                        <xsd:enumeration value="wholesalePhotoCenter"/>
                        <xsd:enumeration value="wholesaleTMA"/>
                        <xsd:enumeration value="wholesaleWarehouse/DC"/>
                        <xsd:enumeration value="wpm"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="baseDivision" type="pfx:BaseDivision" minOccurs="0"/>
            <xsd:element name="financialNodeId" type="xsd:unsignedInt" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Offering">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:unsignedInt" minOccurs="0"/>
            <xsd:element name="richInformation" type="pfx:RichInformation" minOccurs="0"
                         maxOccurs="unbounded"/>
            <xsd:element name="name" type="pfx:alpha100" minOccurs="0"/>
            <xsd:element name="description" type="pfx:alpha512" minOccurs="0"/>
            <xsd:element name="secondaryDescription" type="pfx:alpha512" minOccurs="0"/>
            <xsd:element name="globalTradeItem" type="pfx:GlobalTradeItem" minOccurs="0"
                         maxOccurs="unbounded"/>
            <xsd:element name="price" type="pfx:Price" minOccurs="0"/>
            <xsd:element name="type" type="pfx:alpha20" minOccurs="0"/>
            <xsd:element name="isAssociateDiscountable" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="chargeCodes" type="pfx:ChargeCode" minOccurs="0"
                         maxOccurs="unbounded"/>
            <xsd:element name="department" type="pfx:Department" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="OrderHeader">
        <xsd:sequence>
            <xsd:element name="orderNumber" type="xsd:unsignedLong" minOccurs="0"/>
            <xsd:element name="orderPlacedDateTime" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="numberOfOrderLines" type="xsd:unsignedInt" minOccurs="0"/>
            <xsd:element name="expirationDate" type="xsd:dateTime" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="OrderLine">
        <xsd:sequence>
            <xsd:element name="lineNumber" type="xsd:unsignedInt" minOccurs="0"/>
            <xsd:element name="status" type="pfx:Status" minOccurs="0"/>
            <xsd:element name="isSubstitutionAllowed" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="isOrderByQuantity" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="product" type="pfx:Product" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="item" type="pfx:Item" minOccurs="0"/>
            <xsd:element name="orderLineQuantity" type="pfx:Quantity" minOccurs="0"/>
            <xsd:element name="valueAddedService" type="pfx:ValueAddedService"
                         minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="tax" type="pfx:Tax" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="fee" type="pfx:Fee" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="orderLineTotal" type="xsd:float" minOccurs="0"/>
            <xsd:element name="substitutionLine" type="pfx:SubstitutionLine" minOccurs="0"
                         maxOccurs="unbounded"/>
            <xsd:element name="amount" type="pfx:Amount" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="isPriceOverride" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="shippingService" type="pfx:ShippingService" minOccurs="0"
                         maxOccurs="unbounded"/>
            <xsd:element name="pickingInstructions" type="pfx:PickingInstructions"
                         minOccurs="0"/>
            <xsd:element name="preferredUnitsQuantity" type="xsd:unsignedShort"
                         minOccurs="0"/>
            <xsd:element name="isTaxExempt" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="totalWeight" type="pfx:Weight" minOccurs="0"/>
            <xsd:element name="taxExemptReason" type="pfx:Reason" minOccurs="0"/>
            <xsd:element name="fulfilledQuantity" type="xsd:unsignedInt" minOccurs="0"/>
            <xsd:element name="cancelation" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="reason" type="pfx:Reason" minOccurs="0"/>
                        <xsd:element name="quantity" type="pfx:Quantity" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="nilPickedQuantity" type="pfx:Quantity" minOccurs="0"/>
            <xsd:element name="isGift" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="orderLineWeight" type="pfx:Weight" minOccurs="0"/>
            <xsd:element name="pickType" type="pfx:PickType" minOccurs="0"/>
            <xsd:element name="fulfilledOrderLineTotal" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="fulfilledOfferingGtins" type="pfx:gtin" minOccurs="0"
                         maxOccurs="unbounded"/>
            <xsd:element name="fulfilledUnitPrice" type="pfx:Price" minOccurs="0"/>
            <xsd:element name="isExtendedBarcodeScanned" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="isPOSOnFile" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="scanType" type="pfx:ScanType" minOccurs="0"/>
            <xsd:element name="totalTaxAmount" type="pfx:Amount" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Package">
        <xsd:sequence>
            <xsd:element name="sequenceNumber" type="xsd:unsignedShort" minOccurs="0"/>
            <xsd:element name="assignmentNumber" type="xsd:unsignedLong" minOccurs="0"/>
            <xsd:element name="packageID" type="pfx:alpha30" minOccurs="0"/>
            <xsd:element name="type" type="pfx:alpha40" minOccurs="0"/>
            <xsd:element name="trackingNumber" type="pfx:alpha50" minOccurs="0"/>
            <xsd:element name="additionalTrackingNumber" type="pfx:alpha50" minOccurs="0"/>
            <xsd:element name="dimensions" type="pfx:Dimensions" minOccurs="0"/>
            <xsd:element name="status" type="pfx:Status" minOccurs="0"/>
            <xsd:element name="shipDate" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="weight" type="pfx:Weight" minOccurs="0"/>
            <xsd:element name="uom" type="pfx:alpha20" minOccurs="0"/>
            <xsd:element name="thirdPartyShippingCost" type="pfx:Cost" minOccurs="0"/>
            <xsd:element name="supplierShippingCost" type="pfx:Cost" minOccurs="0"/>
            <xsd:element name="asnNumber" type="pfx:alpha25" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PaymentAuthorization">
        <xsd:sequence>
            <xsd:element name="approvalNumber" type="pfx:alpha10" minOccurs="0"/>
            <xsd:element name="authResultCode" type="pfx:alpha3" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PaymentCard">
        <xsd:complexContent>
            <xsd:extension base="pfx:PaymentInstrument">
                <xsd:sequence>
                    <xsd:element name="type" type="pfx:CardType" minOccurs="0"/>
                    <xsd:element name="billingAddress" type="pfx:Location" minOccurs="0"/>
                    <xsd:element name="lastFourDigits" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:pattern value="[0-9][0-9][0-9][0-9]"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="PaymentInstrument">
        <xsd:sequence>
            <xsd:element name="referenceNumber" type="pfx:alpha10" minOccurs="0"/>
            <xsd:element name="instrumentType" type="pfx:PaymentInstrumentType"
                         minOccurs="0"/>
            <xsd:element name="holderName" type="pfx:alpha255" minOccurs="0"/>
            <xsd:element name="issuer" type="pfx:Issuer" minOccurs="0"/>
            <xsd:element name="suffixNumber" type="pfx:alpha10" minOccurs="0"/>
            <xsd:element name="issuerCountryCode" type="pfx:alpha2" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PaymentInstrumentType">
        <xsd:sequence>
            <xsd:element name="code" type="pfx:alpha10" minOccurs="0"/>
            <xsd:element name="description" type="pfx:alpha80" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Person">
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:complexType name="Phone">
        <xsd:sequence>
            <xsd:element name="number" type="pfx:alpha18" minOccurs="0"/>
            <xsd:element name="extension" type="pfx:alpha6" minOccurs="0"/>
            <xsd:element name="type" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="pfx:alpha25">
                        <xsd:enumeration value="home"/>
                        <xsd:enumeration value="mobile"/>
                        <xsd:enumeration value="primary"/>
                        <xsd:enumeration value="secondary"/>
                        <xsd:enumeration value="work"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="countryCode" type="pfx:alpha2" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <!--Added manually on 2016/03/22, Complex type designed by EA -->
    <xsd:complexType name="Priority">
        <xsd:sequence>
            <xsd:element name="code" type="xsd:unsignedInt" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="description" type="pfx:alpha100" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <!--Added manually on 2016/03/22, Complex type designed by EA-->
    <xsd:complexType name="PickType">
        <xsd:sequence>
            <xsd:element name="code" type="pfx:alpha25" minOccurs="0"/>
            <xsd:element name="description" type="pfx:alpha255" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PickingInstructions">
        <xsd:sequence>
            <xsd:element name="customerNotes" type="pfx:alpha512" minOccurs="0"/>
            <xsd:element name="pickingInstruction" type="pfx:alpha100" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PickupDetails">
        <xsd:sequence>
            <xsd:element name="promisedTimeForPickup" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="expirationTime" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="plannedPickupDate" type="xsd:date" minOccurs="0"/>
            <xsd:element name="plannedPickupTimeSlot" type="pfx:TimeRange" minOccurs="0"/>
            <xsd:element name="alternatePickupContact" type="pfx:AlternatePickupContact"
                         minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Price">
        <xsd:sequence>
            <xsd:element name="amount" type="pfx:Amount" minOccurs="0"/>
            <xsd:element name="type" type="pfx:PriceType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PriceAdjustment">
        <xsd:sequence>
            <xsd:element name="amount" type="pfx:Amount" minOccurs="0"/>
            <xsd:element name="description" type="pfx:alpha512" minOccurs="0"/>
            <xsd:element name="adjustedPrice" type="pfx:Price" minOccurs="0"/>
            <xsd:element name="purchaseQuantity" type="pfx:Quantity" minOccurs="0"/>
            <xsd:element name="type" type="pfx:alpha10" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PriceType">
        <xsd:sequence>
            <xsd:element name="code" type="pfx:alpha10" minOccurs="0"/>
            <xsd:element name="description" type="pfx:alpha80" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Product">
        <xsd:complexContent>
            <xsd:extension base="pfx:Offering">
                <xsd:sequence>
                    <xsd:element name="isAvailableForPickup" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="weight" type="pfx:Weight" minOccurs="0"/>
                    <xsd:element name="isMultiBox" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="isSoldByWeight" type="xsd:boolean" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Quantity">
        <xsd:sequence>
            <xsd:element name="amount" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="uom" type="pfx:alpha20" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Reason">
        <xsd:sequence>
            <xsd:element name="code" type="pfx:alpha40" minOccurs="0"/>
            <xsd:element name="description" type="pfx:alpha80" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ResponseMessage">
        <xsd:sequence>
            <xsd:element name="code" type="pfx:alpha20"/>
            <xsd:element name="description" type="pfx:alpha512"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ReturnDetails">
        <xsd:sequence>
            <xsd:element name="returnCode" type="pfx:alpha2" minOccurs="0"/>
            <xsd:element name="returnPermit" type="pfx:ReturnPermit" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ReturnPermit">
        <xsd:sequence>
            <xsd:element name="permitNumber" type="xsd:string" minOccurs="0"/>
            <xsd:element name="city" type="pfx:alpha80" minOccurs="0"/>
            <xsd:element name="state" type="pfx:alpha2" minOccurs="0"/>
            <xsd:element name="zip" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RichInformation">
        <xsd:sequence>
            <xsd:element name="picture" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="pictureURL" type="pfx:alpha255" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SKU">
        <xsd:sequence>
            <xsd:element name="skuNumber" type="pfx:alpha20" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SalesTransaction">
        <xsd:sequence>
            <xsd:element name="transactionCode" type="pfx:alpha30" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ScanType">
        <xsd:sequence>
            <xsd:element name="code" type="pfx:alpha25" minOccurs="0"/>
            <xsd:element name="description" type="pfx:alpha100" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ShippingMethod">
        <xsd:sequence>
            <xsd:element name="code" type="pfx:alpha10" minOccurs="0"/>
            <xsd:element name="name" type="pfx:alpha100" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ShippingService">
        <xsd:sequence>
            <xsd:element name="code" type="pfx:alpha10" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Status">
        <xsd:sequence>
            <xsd:element name="code" type="pfx:alpha10" minOccurs="0"/>
            <xsd:element name="eventTime" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="description" type="pfx:alpha80" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SubstitutionLine">
        <xsd:sequence>
            <xsd:element name="offering" type="pfx:Offering" minOccurs="0"/>
            <xsd:element name="type" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="O"/>
                        <xsd:enumeration value="S"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="quantity" type="pfx:Quantity" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Tax">
        <xsd:sequence>
            <xsd:element name="amount" type="pfx:Amount" minOccurs="0"/>
            <xsd:element name="type" type="pfx:alpha50" minOccurs="0"/>
            <xsd:element name="discount" type="pfx:Discount" minOccurs="0"/>
            <xsd:element name="taxAdjustment" type="pfx:TaxAdjustment" minOccurs="0"/>
            <xsd:element name="taxRate" type="pfx:ChargeRate" minOccurs="0"/>
            <xsd:element name="id" type="xsd:unsignedInt" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TaxAdjustment">
        <xsd:sequence>
            <xsd:element name="amount" type="pfx:Amount" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TimeRange">
        <xsd:sequence>
            <xsd:element name="start" type="xsd:time" minOccurs="0"/>
            <xsd:element name="end" type="xsd:time" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="VASData">
        <xsd:sequence>
            <xsd:element name="name" type="pfx:alpha20" minOccurs="0"/>
            <xsd:element name="value" type="pfx:alpha50" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ValueAddedService">
        <xsd:sequence>
            <xsd:element name="sequenceNumber" type="xsd:unsignedInt" minOccurs="0"/>
            <xsd:element name="code" type="pfx:alpha3" minOccurs="0"/>
            <xsd:element name="description" type="pfx:alpha512" minOccurs="0"/>
            <xsd:element name="vASData" type="pfx:VASData" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="fee" type="pfx:Fee" minOccurs="0"/>
            <xsd:element name="cost" type="pfx:Cost" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Vehicle">
        <xsd:sequence>
            <xsd:element name="year" type="xsd:unsignedShort" minOccurs="0"/>
            <xsd:element name="make" type="pfx:alpha255" minOccurs="0"/>
            <xsd:element name="model" type="pfx:alpha255" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Weight">
        <xsd:sequence>
            <xsd:element name="amount" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="uom" type="pfx:alpha20" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Fault">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="hdr:MessageHeader"/>
                <xsd:element ref="flt:MessageFault"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PlaceFulfillmentOrderRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="hdr:MessageHeader"/>
                <xsd:element name="MessageBody">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="customerOrderInfo">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="customerInfo" minOccurs="0">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="customerDetails">
                                                        <xsd:complexType>
                                                            <xsd:sequence>
                                                                <xsd:element name="customer" type="pfx:Customer"
                                                                             minOccurs="0"/>
                                                                <xsd:element name="location" type="pfx:Location"
                                                                             minOccurs="0"/>
                                                            </xsd:sequence>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                    <xsd:element name="membershipAccount" type="pfx:MembershipAccount"
                                                                 minOccurs="0"/>
                                                    <xsd:element name="discountCard" type="pfx:DiscountCard"
                                                                 minOccurs="0"/>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="customerOrder">
                                            <xsd:complexType>
                                                <xsd:complexContent>
                                                    <xsd:extension base="pfx:CustomerOrder">
                                                        <xsd:sequence>
                                                            <xsd:element name="fulfillmentOrders" maxOccurs="unbounded">
                                                                <xsd:complexType>
                                                                    <xsd:complexContent>
                                                                        <xsd:extension base="pfx:FulfillmentOrder">
                                                                            <xsd:sequence>
                                                                                <xsd:element name="dispatchMethod"
                                                                                             type="pfx:DispatchMethod"
                                                                                             minOccurs="0"/>
                                                                                <xsd:element name="salesTransaction"
                                                                                             type="pfx:SalesTransaction"
                                                                                             minOccurs="0"/>
                                                                                <xsd:element name="fulfillmentMethod"
                                                                                             type="pfx:FulfillmentMethod"
                                                                                             minOccurs="0"/>
                                                                                <!--Added manually on 2015/08/12-->
                                                                                <xsd:element name="carrierBag"
                                                                                             type="pfx:CarrierBag"
                                                                                             minOccurs="0"
                                                                                             maxOccurs="1"/>
                                                                                <!--Added manually on 2015/08/12-->
                                                                                <!--Added manually on 2016/03/22-->
                                                                                <xsd:element name="orderPriority"
                                                                                             type="pfx:Priority"
                                                                                             minOccurs="0"
                                                                                             maxOccurs="1"/>
                                                                                <!--Added manually on 2016/03/22-->
                                                                                <xsd:element name="orderLines"
                                                                                             maxOccurs="unbounded">
                                                                                    <xsd:complexType>
                                                                                        <xsd:complexContent>
                                                                                            <xsd:extension
                                                                                                    base="pfx:OrderLine">
                                                                                                <xsd:sequence>
                                                                                                    <xsd:element
                                                                                                            name="price"
                                                                                                            type="pfx:Price"/>
                                                                                                    <xsd:element
                                                                                                            name="package"
                                                                                                            minOccurs="0">
                                                                                                        <xsd:complexType>
                                                                                                            <xsd:complexContent>
                                                                                                                <xsd:extension
                                                                                                                        base="pfx:Package">
                                                                                                                    <xsd:sequence>
                                                                                                                        <xsd:element
                                                                                                                                name="deliveryDetails"
                                                                                                                                type="pfx:DeliveryDetails"
                                                                                                                                minOccurs="0"/>
                                                                                                                    </xsd:sequence>
                                                                                                                </xsd:extension>
                                                                                                            </xsd:complexContent>
                                                                                                        </xsd:complexType>
                                                                                                    </xsd:element>
                                                                                                    <xsd:element
                                                                                                            name="discount"
                                                                                                            minOccurs="0"
                                                                                                            maxOccurs="unbounded">
                                                                                                        <xsd:complexType>
                                                                                                            <xsd:complexContent>
                                                                                                                <xsd:extension
                                                                                                                        base="pfx:Discount">
                                                                                                                    <xsd:sequence>
                                                                                                                        <xsd:element
                                                                                                                                name="tax"
                                                                                                                                type="pfx:Tax"
                                                                                                                                minOccurs="0"/>
                                                                                                                    </xsd:sequence>
                                                                                                                </xsd:extension>
                                                                                                            </xsd:complexContent>
                                                                                                        </xsd:complexType>
                                                                                                    </xsd:element>
                                                                                                    <xsd:element
                                                                                                            name="minIdealDayQuantity"
                                                                                                            type="xsd:unsignedInt"
                                                                                                            minOccurs="0"/>
                                                                                                    <xsd:element
                                                                                                            name="maxIdealDayQuantity"
                                                                                                            type="xsd:unsignedInt"
                                                                                                            minOccurs="0"/>
                                                                                                    <xsd:element
                                                                                                            name="isSellbyDateRequired"
                                                                                                            type="xsd:boolean"
                                                                                                            minOccurs="0"/>
                                                                                                </xsd:sequence>
                                                                                            </xsd:extension>
                                                                                        </xsd:complexContent>
                                                                                    </xsd:complexType>
                                                                                </xsd:element>
                                                                            </xsd:sequence>
                                                                        </xsd:extension>
                                                                    </xsd:complexContent>
                                                                </xsd:complexType>
                                                            </xsd:element>
                                                            <xsd:element name="paymentDetails" minOccurs="0"
                                                                         maxOccurs="unbounded">
                                                                <xsd:complexType>
                                                                    <xsd:sequence>
                                                                        <xsd:element name="paymentCard"
                                                                                     type="pfx:PaymentCard"
                                                                                     minOccurs="0"/>
                                                                        <xsd:element name="amount" type="pfx:Amount"
                                                                                     minOccurs="0"/>
                                                                        <xsd:element name="paymentAuthorization"
                                                                                     type="pfx:PaymentAuthorization"
                                                                                     minOccurs="0"/>
                                                                        <xsd:element name="contact" type="pfx:Contact"
                                                                                     minOccurs="0"/>
                                                                    </xsd:sequence>
                                                                </xsd:complexType>
                                                            </xsd:element>
                                                            <xsd:element name="totalOrderQuantity" type="pfx:Quantity"
                                                                         minOccurs="0"/>
                                                        </xsd:sequence>
                                                    </xsd:extension>
                                                </xsd:complexContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="originatingNode" type="pfx:Node"/>
                                        <xsd:element name="country" type="pfx:Country" minOccurs="0"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="MessageExtensions" type="pfx:MessageExtension"
                                         minOccurs="0" maxOccurs="5"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PlaceFulfillmentOrderResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="hdr:MessageHeader"/>
                <xsd:element name="MessageBody">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="responseMessage" type="pfx:ResponseMessage"/>
                            <xsd:element name="MessageExtensions" type="pfx:MessageExtension"
                                         minOccurs="0" maxOccurs="10"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
