primary-ports-adapters/src/main/resources/xsd/uods/UpdateOrderDispensedStatus.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace"
   elementFormDefault="qualified" attributeFormDefault="qualified" targetNamespace="http://www.xmlns.walmartstores.com/SupplyChain/CustomerOrderManagement/datatypes/UpdateOrderDispensedStatus/"
   xmlns:pfx="http://www.xmlns.walmartstores.com/SupplyChain/CustomerOrderManagement/datatypes/UpdateOrderDispensedStatus/"
   version="2.4" xmlns:hdr="http://www.xmlns.walmartstores.com/Header/datatypes/MessageHeader/1.4/"
   xmlns:flt="http://www.xmlns.walmartstores.com/Fault/datatypes/MessageFault/1.0/">
  <xsd:import namespace="http://www.xmlns.walmartstores.com/Header/datatypes/MessageHeader/1.4/"
     schemaLocation="MessageHeader.xsd"/>
  <xsd:import namespace="http://www.xmlns.walmartstores.com/Fault/datatypes/MessageFault/1.0/"
     schemaLocation="MessageFault.xsd"/>
  <xsd:element name="dnbCreateDate" type="xsd:dateTime"/>
  <xsd:element name="dnbLastUpdateDate" type="xsd:dateTime"/>
  <xsd:element name="dnbLastUpdateTxId" type="xsd:decimal"/>
  <xsd:element name="dnbLastUpdateUserId" type="pfx:alpha20"/>
  <xsd:element name="dnbProcessDate" type="xsd:dateTime"/>
  <xsd:element name="dnbRatingCode" type="pfx:alpha2"/>
  <xsd:element name="dnbRetailMarketCode" type="pfx:alpha2"/>
  <xsd:element name="dunAndBradStreetID" type="xsd:unsignedLong"/>
  <xsd:simpleType name="alpha1">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="alpha2">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="alpha4">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="alpha6">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="alpha10">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="alpha18">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="18"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="alpha20">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="alpha25">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="25"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="alpha30">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="alpha36">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="36"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="alpha40">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="alpha50">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="alpha80">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="80"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="alpha100">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="100"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="alpha255">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="255"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="alpha512">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="512"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="alpha600">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="600"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="email">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="255"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Amount">
    <xsd:sequence>
      <xsd:element name="value">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal">
            <xsd:fractionDigits value="4"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="currency" type="pfx:Currency" minOccurs="0"/>
      <xsd:element name="type" type="pfx:alpha10" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DispatchMethod">
    <xsd:sequence>
      <xsd:element name="code" type="pfx:alpha10" minOccurs="0"/>
      <xsd:element name="name" type="pfx:alpha100" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FulfillmentMethod">
    <xsd:sequence>
      <xsd:element name="code" type="pfx:alpha10" minOccurs="0"/>
      <xsd:element name="name" type="pfx:alpha100" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BankAccount">
    <xsd:complexContent>
      <xsd:extension base="pfx:PaymentInstrument">
        <xsd:sequence>
          <xsd:element name="accountNumber" type="pfx:alpha40" minOccurs="0"/>
          <xsd:element name="routingNumber" type="pfx:alpha40" minOccurs="0"/>
          <xsd:element name="type" type="xsd:string" minOccurs="0"/>
          <xsd:element name="bankName" type="pfx:alpha255" minOccurs="0"/>
          <xsd:element name="bankState" type="xsd:string" minOccurs="0"/>
          <xsd:element name="ssn" type="xsd:string" minOccurs="0"/>
          <xsd:element name="driverLicense" type="xsd:string" minOccurs="0"/>
          <xsd:element name="driverLicenseState" type="xsd:string" minOccurs="0"/>
          <xsd:element name="availableFunds" type="xsd:decimal" minOccurs="0"/>
          <xsd:element name="abaNumber" type="xsd:unsignedLong" minOccurs="0"/>
          <xsd:element name="federalReserveCode" type="pfx:alpha80" minOccurs="0"/>
          <xsd:element name="swiftCode" type="pfx:alpha20" minOccurs="0"/>
          <xsd:element name="bankKey" type="pfx:alpha10" minOccurs="0"/>
          <xsd:element name="bankAccountNumbers" type="pfx:BankAccountNumber"
             minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="accountHolderName" type="pfx:alpha255" minOccurs="0"/>
          <xsd:element name="iban" type="pfx:alpha50" minOccurs="0"/>
          <xsd:element name="controlKey" type="pfx:alpha2" minOccurs="0"/>
          <xsd:element name="referenceDetails" type="pfx:alpha20" minOccurs="0"/>
          <xsd:element name="bankCountryCode" type="pfx:alpha2" minOccurs="0"/>
          <xsd:element name="bankCity" type="pfx:alpha80" minOccurs="0"/>
          <xsd:element name="bankStreet" type="pfx:alpha80" minOccurs="0"/>
          <xsd:element name="interest" type="pfx:BankAccountInterest" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BankAccountInterest">
    <xsd:sequence>
      <xsd:element name="isInterest" type="xsd:boolean"/>
      <xsd:element name="interestCalculationFrequency" type="pfx:Frequency"/>
      <xsd:element name="lastKeyDate" type="xsd:date" minOccurs="0"/>
      <xsd:element name="lastInterestRunDate" type="xsd:date" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BankAccountNumber">
    <xsd:sequence>
      <xsd:element name="name" type="pfx:alpha80" minOccurs="0"/>
      <xsd:element name="type" type="pfx:alpha25" minOccurs="0"/>
      <xsd:element name="number" type="pfx:alpha25" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BaseDivision">
    <xsd:sequence>
      <xsd:element name="code" type="pfx:alpha10" minOccurs="0"/>
      <xsd:element name="description" type="pfx:alpha100" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CarrierMethod">
    <xsd:sequence>
      <xsd:element name="carrierMethodCode" type="pfx:alpha10" minOccurs="0"/>
      <xsd:element name="name" type="pfx:alpha100" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ChargeRate">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:unsignedInt" minOccurs="0"/>
      <xsd:element name="amount" type="pfx:Amount" minOccurs="0"/>
      <xsd:element name="type" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="pfx:alpha20">
            <xsd:enumeration value="FIXEDAMOUNT"/>
            <xsd:enumeration value="PERCENT"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="chargeType" type="pfx:ChargeType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ChargeType">
    <xsd:sequence>
      <xsd:element name="number" type="xsd:unsignedInt" minOccurs="0"/>
      <xsd:element name="name" type="pfx:alpha50" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CommunicationMethod">
    <xsd:sequence>
      <xsd:element name="code" type="xsd:unsignedShort" minOccurs="0"/>
      <xsd:element name="description" type="pfx:alpha100" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Company">
    <xsd:sequence>
      <xsd:element name="description" type="pfx:alpha255" minOccurs="0"/>
      <xsd:element name="communicationMethod" type="pfx:CommunicationMethod"
         minOccurs="0"/>
      <xsd:element name="taxOfficeAccount" type="pfx:alpha10" minOccurs="0"/>
      <xsd:element name="vatRegistrationNumber" type="pfx:alpha20" minOccurs="0"/>
      <xsd:element name="taxIdentification" type="pfx:TaxIdentification"
         minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="taxTypeOfBusiness" type="pfx:alpha30" minOccurs="0"/>
      <xsd:element name="industryType" type="pfx:IndustryType" minOccurs="0"/>
      <xsd:element name="bankAccount" type="pfx:BankAccount" minOccurs="0"/>
      <xsd:element name="dunning" type="pfx:Dunning" minOccurs="0"/>
      <xsd:element name="grossIncomeTaxActivityCode" type="pfx:alpha4" minOccurs="0"/>
      <xsd:element name="employmentTaxDistributionCode" type="pfx:alpha4"
         minOccurs="0"/>
      <xsd:element name="dunAndBradStreet" type="pfx:DunAndBradStreet" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Contact">
    <xsd:sequence>
      <xsd:element name="email" type="pfx:email" minOccurs="0"/>
      <xsd:element name="faxNumber" type="pfx:Phone" minOccurs="0"/>
      <xsd:element name="phone" type="pfx:Phone" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="sensitivity" type="pfx:Sensitivity" minOccurs="0"/>
      <xsd:element name="websiteURL" type="pfx:alpha255" minOccurs="0"/>
      <xsd:element name="name" type="pfx:Name" minOccurs="0"/>
      <xsd:element name="type" type="pfx:alpha80" minOccurs="0"/>
      <xsd:element name="communicationMethod" type="pfx:CommunicationMethod"
         minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="effectiveDateRange" type="pfx:DateRange" minOccurs="0"/>
      <xsd:element name="isPreferred" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="retailLinkUserId" type="pfx:alpha36" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Container">
    <xsd:sequence>
      <xsd:element name="containerId" type="pfx:alpha36"/>
      <xsd:element name="assignmentNumber" type="xsd:unsignedLong" minOccurs="0"/>
      <xsd:element name="status" type="pfx:Status" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Cost">
    <xsd:sequence>
      <xsd:element name="amount" type="pfx:Amount" minOccurs="0"/>
      <xsd:element name="currency" type="pfx:Currency" minOccurs="0"/>
      <xsd:element name="effectiveDate" type="xsd:date" minOccurs="0"/>
      <xsd:element name="expirationDate" type="xsd:date" minOccurs="0"/>
      <xsd:element name="multiplier" type="xsd:float" minOccurs="0"/>
      <xsd:element name="uom" type="pfx:alpha10" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Credentials">
    <xsd:sequence>
      <xsd:element name="userID" type="pfx:alpha20"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CreditApplication">
    <xsd:sequence>
      <xsd:element name="signature" type="xsd:base64Binary" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Currency">
    <xsd:sequence>
      <xsd:element name="code" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="3"/>
            <xsd:maxLength value="3"/>
            <xsd:pattern value="[A-Z][A-Z][A-Z]"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="description" type="pfx:alpha80" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CustomerOrder">
    <xsd:sequence>
      <xsd:element name="orderHeader" type="pfx:OrderHeader" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DateRange">
    <xsd:sequence>
      <xsd:element name="start" type="xsd:date" minOccurs="0"/>
      <xsd:element name="end" type="xsd:date" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DeliveryAdjustment">
    <xsd:sequence>
      <xsd:element name="amount" type="pfx:Amount"/>
      <xsd:element name="sequenceNumber" type="xsd:unsignedShort"/>
      <xsd:element name="type" type="pfx:alpha1"/>
      <xsd:element name="reason" type="pfx:Reason"/>
      <xsd:element name="adjustmentTime" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DeliveryContact">
    <xsd:sequence>
      <xsd:element name="firstName" type="pfx:alpha80" minOccurs="0"/>
      <xsd:element name="lastName" type="pfx:alpha80" minOccurs="0"/>
      <xsd:element name="contact" type="pfx:Contact" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DeliveryDetails">
    <xsd:sequence>
      <xsd:element name="deliveryETA" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="deliveryScheduleTimeSlot" type="pfx:TimeRange"
         minOccurs="0"/>
      <xsd:element name="deliveryInstructions" type="pfx:alpha512" minOccurs="0"/>
      <xsd:element name="doorstepTime" type="xsd:time" minOccurs="0"/>
      <xsd:element name="deliveryZone" type="pfx:alpha20" minOccurs="0"/>
      <xsd:element name="deliveryLocation" type="pfx:Location" minOccurs="0"/>
      <xsd:element name="deliveryContact" type="pfx:DeliveryContact" minOccurs="0"/>
      <xsd:element name="carrierMethodCode" type="pfx:alpha10" minOccurs="0"/>
      <xsd:element name="shippingMethod" type="pfx:ShippingMethod" minOccurs="0"/>
      <xsd:element name="vehicleRegistrationNumber" type="pfx:alpha20" minOccurs="0"/>
      <xsd:element name="stateProvinceCode" type="pfx:alpha2" minOccurs="0"/>
      <xsd:element name="carrierMethod" type="pfx:CarrierMethod" minOccurs="0"/>
      <xsd:element name="deliveryNoteOrderMessage" type="pfx:Message" minOccurs="0"/>
      <xsd:element name="deliveryNoteMarketingMessage" type="pfx:Message"
         minOccurs="0"/>
      <xsd:element name="deliveryNoteReturnInstructions" type="pfx:Message"
         minOccurs="0"/>
      <xsd:element name="deliveryStartTime" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="deliveryEndTime" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="appointmentDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="gateInDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="shipETA" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="scheduledUnloadTime" type="xsd:dateTime" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DeliveryOrder">
    <xsd:sequence>
      <xsd:element name="deliveredOn" type="xsd:dateTime"/>
      <xsd:element name="signature" type="xsd:base64Binary" minOccurs="0"/>
      <xsd:element name="isRedelivery" type="xsd:boolean" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DestinationNode">
    <xsd:complexContent>
      <xsd:extension base="pfx:Node">
        <xsd:sequence>
          <xsd:element name="orderType" type="pfx:alpha20" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Device">
    <xsd:sequence>
      <xsd:element name="id" type="pfx:alpha25" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Dimensions">
    <xsd:sequence>
      <xsd:element name="height" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="width" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="depth" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="uom" type="pfx:alpha20" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Discount">
    <xsd:sequence>
      <xsd:element name="amount" type="pfx:Amount"/>
      <xsd:element name="type" type="pfx:alpha50" minOccurs="0"/>
      <xsd:element name="discountAdjustment" type="pfx:DiscountAdjustment"
         minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DiscountAdjustment">
    <xsd:sequence>
      <xsd:element name="amount" type="xsd:float" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DunAndBradStreet">
    <xsd:sequence>
      <xsd:element ref="pfx:dunAndBradStreetID" minOccurs="0"/>
      <xsd:element ref="pfx:dnbRetailMarketCode" minOccurs="0"/>
      <xsd:element ref="pfx:dnbRatingCode" minOccurs="0"/>
      <xsd:element ref="pfx:dnbCreateDate" minOccurs="0"/>
      <xsd:element ref="pfx:dnbLastUpdateUserId" minOccurs="0"/>
      <xsd:element ref="pfx:dnbLastUpdateDate" minOccurs="0"/>
      <xsd:element ref="pfx:dnbLastUpdateTxId" minOccurs="0"/>
      <xsd:element ref="pfx:dnbProcessDate" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Dunning">
    <xsd:sequence>
      <xsd:element name="procedureKey" type="pfx:alpha4" minOccurs="0"/>
      <xsd:element name="lastDunnedDate" type="xsd:date" minOccurs="0"/>
      <xsd:element name="recipientAccountNumber" type="pfx:alpha10" minOccurs="0"/>
      <xsd:element name="clerkContact" type="pfx:Contact" minOccurs="0"/>
      <xsd:element name="blockReason" type="pfx:Reason" minOccurs="0"/>
      <xsd:element name="legalProcedureStartDate" type="xsd:date" minOccurs="0"/>
      <xsd:element name="level" type="xsd:unsignedShort" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ExitOrder">
    <xsd:sequence>
      <xsd:element name="requestNumber" type="xsd:unsignedLong" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Fee">
    <xsd:sequence>
      <xsd:element name="id" type="pfx:alpha100" minOccurs="0"/>
      <xsd:element name="amount" type="pfx:Amount"/>
      <xsd:element name="tax" type="pfx:Tax" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="type" type="pfx:alpha50" minOccurs="0"/>
      <xsd:element name="feeAdjustment" type="pfx:FeeAdjustment" minOccurs="0"/>
      <xsd:element name="feeRate" type="pfx:ChargeRate" minOccurs="0"/>
      <xsd:element name="appliedTaxPercent" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="totalTaxAmount" type="pfx:Amount" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FeeAdjustment">
    <xsd:sequence>
      <xsd:element name="amount" type="pfx:Amount" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Frequency">
    <xsd:sequence>
      <xsd:element name="code" type="pfx:alpha20" minOccurs="0"/>
      <xsd:element name="description" type="pfx:alpha255" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FulfillmentOrder">
    <xsd:sequence>
	  <xsd:element name="dispatchMethod" type="pfx:DispatchMethod" minOccurs="0"/>                                        
      <xsd:element name="fulfillmentMethod" type="pfx:FulfillmentMethod" minOccurs="0"/>
      <xsd:element name="requestNumber" type="xsd:unsignedLong" minOccurs="0"/>
      <xsd:element name="orderHeader" type="pfx:OrderHeader" minOccurs="0"/>
      <xsd:element name="orderType" type="pfx:alpha20"/>
      <xsd:element name="status" type="pfx:Status" minOccurs="0"/>
      <xsd:element name="node" type="pfx:Node"/>
      <xsd:element name="returnDetails" type="pfx:ReturnDetails" minOccurs="0"/>
      <xsd:element name="fee" type="pfx:Fee" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="plannedDateForFulfillment" type="xsd:date" minOccurs="0"/>
      <xsd:element name="loadSequenceNumber" type="pfx:alpha10" minOccurs="0"/>
      <xsd:element name="isAuthorizedPickupPerson" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="totalTaxAmount" type="pfx:Amount" minOccurs="0"/>
      <xsd:element name="tax" type="pfx:Tax" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GlobalTradeItem">
    <xsd:sequence>
      <xsd:element name="gtin">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="([0-9])*"/>
            <xsd:maxLength value="14"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="description" type="pfx:alpha100" minOccurs="0"/>
                  <xsd:sequence>
                    <xsd:element
                       name="item"
                       type="pfx:Item"
                       minOccurs="0"
                       maxOccurs="unbounded"/>
                  </xsd:sequence>
    </xsd:sequence>
    
    
   
  </xsd:complexType>
  <xsd:complexType name="IndustryType">
    <xsd:sequence>
      <xsd:element name="code" type="pfx:alpha10" minOccurs="0"/>
      <xsd:element name="description" type="pfx:alpha80" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Issuer">
    <xsd:sequence>
      <xsd:element name="iin" type="pfx:alpha6" minOccurs="0"/>
      <xsd:element name="name" type="pfx:alpha80" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Item">
    <xsd:sequence>
      <xsd:element name="number" type="xsd:unsignedInt" minOccurs="0"/>
      <xsd:element name="cost" type="pfx:Cost" minOccurs="0"/>
      <xsd:element name="handlingCost" type="pfx:Cost" minOccurs="0"/>
      <xsd:element name="is70Typed" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="isMovementKept" type="xsd:boolean" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Location">
    <xsd:sequence>
      <xsd:element name="countryCode" type="pfx:alpha2"/>
      <xsd:element name="name" type="pfx:alpha100" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Message">
    <xsd:sequence>
      <xsd:element name="messageLine1" type="pfx:alpha600" minOccurs="0"/>
      <xsd:element name="messageLine2" type="pfx:alpha600" minOccurs="0"/>
      <xsd:element name="messageLine3" type="pfx:alpha600" minOccurs="0"/>
      <xsd:element name="messageLine4" type="pfx:alpha600" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MessageExtension">
    <xsd:sequence>
      <xsd:element name="name" type="pfx:alpha20"/>
      <xsd:element name="value" type="pfx:alpha255"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Name">
    <xsd:sequence>
      <xsd:element name="first" type="pfx:alpha80" minOccurs="0"/>
      <xsd:element name="middle" type="pfx:alpha80" minOccurs="0"/>
      <xsd:element name="last" type="pfx:alpha80" minOccurs="0"/>
      <xsd:element name="fullName" type="pfx:alpha255" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Node">
    <xsd:sequence>
      <xsd:element name="location" type="pfx:Location"/>
      <xsd:element name="nodeID">
        <xsd:simpleType>
          <xsd:restriction base="xsd:unsignedInt">
            <xsd:minInclusive value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="type" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="HO"/>
            <xsd:enumeration value="PMDC"/>
            <xsd:enumeration value="RHO"/>
            <xsd:enumeration value="apparelDC"/>
            <xsd:enumeration value="dcStore"/>
            <xsd:enumeration value="destination"/>
            <xsd:enumeration value="dotcom"/>
            <xsd:enumeration value="dsv"/>
            <xsd:enumeration value="eCommerceRetail"/>
            <xsd:enumeration value="eCommerceRetailSpecialty"/>
            <xsd:enumeration value="eCommerceRetailWarehouseDC"/>
            <xsd:enumeration value="eCommerceWholesale"/>
            <xsd:enumeration value="ecomDC"/>
            <xsd:enumeration value="gasStations"/>
            <xsd:enumeration value="groceryDC"/>
            <xsd:enumeration value="importsDC"/>
            <xsd:enumeration value="importsWholesale"/>
            <xsd:enumeration value="inboundTransportation"/>
            <xsd:enumeration value="logisticsEliminations"/>
            <xsd:enumeration value="pharmacyDC"/>
            <xsd:enumeration value="regionalDC"/>
            <xsd:enumeration value="retail"/>
            <xsd:enumeration value="retailConnectivity"/>
            <xsd:enumeration value="retailFinancialServices"/>
            <xsd:enumeration value="retailOptical"/>
            <xsd:enumeration value="retailPharmacy"/>
            <xsd:enumeration value="retailPhotoCenter"/>
            <xsd:enumeration value="retailShoes"/>
            <xsd:enumeration value="retailSpecialty"/>
            <xsd:enumeration value="retailSpecialtyWarehouse/DC"/>
            <xsd:enumeration value="retailTLE"/>
            <xsd:enumeration value="retailWarehouse/DC"/>
            <xsd:enumeration value="returnCenter"/>
            <xsd:enumeration value="samsclub"/>
            <xsd:enumeration value="serviceBanking"/>
            <xsd:enumeration value="serviceCenter"/>
            <xsd:enumeration value="serviceParkingLot"/>
            <xsd:enumeration value="serviceRestaurant"/>
            <xsd:enumeration value="serviceRestaurantWarehouse/DC"/>
            <xsd:enumeration value="store"/>
            <xsd:enumeration value="supplier"/>
            <xsd:enumeration value="transportation"/>
            <xsd:enumeration value="transportationRetail"/>
            <xsd:enumeration value="warehouse/DC"/>
            <xsd:enumeration value="wholesale"/>
            <xsd:enumeration value="wholesaleConnectivity"/>
            <xsd:enumeration value="wholesaleOptical"/>
            <xsd:enumeration value="wholesalePharmacy"/>
            <xsd:enumeration value="wholesalePhotoCenter"/>
            <xsd:enumeration value="wholesaleTMA"/>
            <xsd:enumeration value="wholesaleWarehouse/DC"/>
            <xsd:enumeration value="wpm"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="baseDivision" type="pfx:BaseDivision" minOccurs="0"/>
      <xsd:element name="status" type="pfx:Status" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Offering">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:unsignedInt" minOccurs="0"/>
      <xsd:element name="description" type="pfx:alpha512" minOccurs="0"/>
      <xsd:element name="secondaryDescription" type="pfx:alpha512" minOccurs="0"/>
      <xsd:element name="globalTradeItem" type="pfx:GlobalTradeItem" maxOccurs="unbounded"/>
                
      <xsd:element name="price" type="pfx:Price" minOccurs="0"/>
      <xsd:element name="isAssociateDiscountable" type="xsd:boolean" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OrderHeader">
    <xsd:sequence>
      <xsd:element name="orderNumber" type="xsd:unsignedLong" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OrderLine">
    <xsd:sequence>
      <xsd:element name="lineNumber" type="xsd:unsignedInt" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="status" type="pfx:Status" minOccurs="0"/>
      <xsd:element name="orderLineQuantity" type="pfx:Quantity"/>
      <xsd:element name="tax" type="pfx:Tax" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="fee" type="pfx:Fee" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="discount" type="pfx:Discount" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="refundDetails" type="pfx:RefundDetails" minOccurs="0"/>
      <xsd:element name="amount" type="pfx:Amount" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="appliedTaxPercent" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="totalTaxAmount" type="pfx:Amount" minOccurs="0"/>
      <xsd:element name="fulfilledUnitPrice" type="pfx:Price" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Package">
    <xsd:sequence>
      <xsd:element name="sequenceNumber" type="xsd:unsignedShort" minOccurs="0"/>
      <xsd:element name="assignmentNumber" type="xsd:unsignedLong" minOccurs="0"/>
      <xsd:element name="packageID" type="pfx:alpha30" minOccurs="0"/>
      <xsd:element name="trackingNumber" type="pfx:alpha50" minOccurs="0"/>
      <xsd:element name="dimensions" type="pfx:Dimensions" minOccurs="0"/>
      <xsd:element name="shipDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="weight" type="pfx:Weight" minOccurs="0"/>
      <xsd:element name="thirdPartyShippingCost" type="pfx:Cost" minOccurs="0"/>
      <xsd:element name="supplierShippingCost" type="pfx:Cost" minOccurs="0"/>
      <xsd:element name="asnNumber" type="pfx:alpha25" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PaymentInstrument">
    <xsd:sequence>
      <xsd:element name="referenceNumber" type="pfx:alpha10" minOccurs="0"/>
      <xsd:element name="instrumentType" type="pfx:PaymentInstrumentType"
         minOccurs="0"/>
      <xsd:element name="holderName" type="pfx:alpha255" minOccurs="0"/>
      <xsd:element name="issuer" type="pfx:Issuer" minOccurs="0"/>
      <xsd:element name="suffixNumber" type="pfx:alpha10" minOccurs="0"/>
      <xsd:element name="issuerCountryCode" type="pfx:alpha2" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PaymentInstrumentType">
    <xsd:sequence>
      <xsd:element name="code" type="pfx:alpha10" minOccurs="0"/>
      <xsd:element name="description" type="pfx:alpha80" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Phone">
    <xsd:sequence>
      <xsd:element name="number" type="pfx:alpha18" minOccurs="0"/>
      <xsd:element name="extension" type="pfx:alpha6" minOccurs="0"/>
      <xsd:element name="type" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="pfx:alpha25">
            <xsd:enumeration value="home"/>
            <xsd:enumeration value="mobile"/>
            <xsd:enumeration value="primary"/>
            <xsd:enumeration value="secondary"/>
            <xsd:enumeration value="work"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="countryCode" type="pfx:alpha2" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PickupRejection">
    <xsd:sequence>
      <xsd:element name="reason" type="pfx:Reason" minOccurs="0"/>
      <xsd:element name="quantity" type="pfx:Quantity" minOccurs="0"/>
      <xsd:element name="refundedAmount" type="pfx:Amount" minOccurs="0"/>
      <xsd:element name="refundedTaxPercent" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="refundedTaxAmount" type="pfx:Amount" minOccurs="0"/>
      <xsd:element name="fees" type="pfx:Fee" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Price">
    <xsd:sequence>
      <xsd:element name="amount" type="pfx:Amount" minOccurs="0"/>
      <xsd:element name="type" type="pfx:PriceType" minOccurs="0"/>
      <xsd:element name="uom" type="pfx:alpha20" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProductInstance">
    <xsd:sequence>
      <xsd:element name="serialNumber" type="pfx:alpha100" minOccurs="0"/>
      <xsd:element name="universalActivationBarcodeNbr" type="pfx:alpha30" minOccurs="0"/>
      <xsd:element name="digitalDeviceCode" type="pfx:alpha50" minOccurs="0"/>
      <xsd:element name="digitalDeviceActivationCode" type="pfx:alpha50" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PriceAdjustment">
    <xsd:sequence>
      <xsd:element name="amount" type="pfx:Amount"/>
      <xsd:element name="description" type="pfx:alpha512" minOccurs="0"/>
      <xsd:element name="adjustedPrice" type="pfx:Price" minOccurs="0"/>
      <xsd:element name="purchaseQuantity" type="pfx:Quantity" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PriceType">
    <xsd:sequence>
      <xsd:element name="code" type="pfx:alpha10" minOccurs="0"/>
      <xsd:element name="description" type="pfx:alpha80" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Product">
    <xsd:complexContent>
      <xsd:extension base="pfx:Offering">
        <xsd:sequence>
          <xsd:element name="weight" type="pfx:Weight" minOccurs="0"/>
          <xsd:element name="totalQuantityPrice" type="pfx:Price" minOccurs="0"/>
          <xsd:element name="productInstance" type="pfx:ProductInstance" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>  
  </xsd:complexType>
  <xsd:complexType name="Quantity">
    <xsd:sequence>
      <xsd:element name="amount" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="uom" type="pfx:alpha20" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Reason">
    <xsd:sequence>
      <xsd:element name="code" type="pfx:alpha40" minOccurs="0"/>
      <xsd:element name="description" type="pfx:alpha80" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RefundDetails">
    <xsd:sequence>
      <xsd:element name="reasonCode" type="pfx:alpha2" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResponseMessage">
    <xsd:sequence>
      <xsd:element name="code" type="pfx:alpha20"/>
      <xsd:element name="description" type="pfx:alpha512"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReturnDetails">
    <xsd:sequence>
      <xsd:element name="returnCode" type="pfx:alpha2" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReturnPermit">
    <xsd:sequence>
      <xsd:element name="permitNumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="city" type="pfx:alpha80" minOccurs="0"/>
      <xsd:element name="state" type="pfx:alpha2" minOccurs="0"/>
      <xsd:element name="zip" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SalesReceipt">
    <xsd:sequence minOccurs="0">
      <xsd:element name="salesTransaction" type="pfx:SalesTransaction" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SalesTransaction">
    <xsd:sequence>
      <xsd:element name="transactionCode" type="pfx:alpha30" minOccurs="0"/>
      <xsd:element name="saleAmount" type="pfx:Amount" minOccurs="0"/>
      <xsd:element name="fee" type="pfx:Fee" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="taxBuckets" type="pfx:Tax" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="txTime" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="saleType" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="C"/>
            <xsd:enumeration value="R"/>
            <xsd:enumeration value="RW"/>
            <xsd:enumeration value="RWO"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="discount" type="pfx:Discount" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="salesTaxAmount" type="pfx:Tax" minOccurs="0"/>
      <xsd:element name="subTotalAmount" type="pfx:Amount" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Sensitivity">
    <xsd:sequence>
      <xsd:element name="code" minOccurs="0"/>
      <xsd:element name="description" type="pfx:alpha100" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ShippingMethod">
    <xsd:sequence>
      <xsd:element name="code" type="pfx:alpha10" minOccurs="0"/>
      <xsd:element name="name" type="pfx:alpha100" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Status">
    <xsd:sequence>
      <xsd:element name="code" type="pfx:alpha10"/>
      <xsd:element name="eventTime" type="xsd:dateTime"/>
      <xsd:element name="description" type="pfx:alpha80" minOccurs="0"/>
      <xsd:element name="statusChangeReason" type="pfx:Reason" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SubstitutionLine">
    <xsd:sequence>
      <xsd:element name="type" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="O"/>
            <xsd:enumeration value="S"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="quantity" type="pfx:Quantity"/>
      <xsd:element name="tax" type="pfx:Tax" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="fee" type="pfx:Fee" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="pickedBy" type="pfx:Credentials"/>
      <xsd:element name="fulfilledUnitPrice" type="pfx:Price" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="appliedTaxPercent" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="totalTaxAmount" type="pfx:Amount" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Tax">
    <xsd:sequence>
      <xsd:element name="amount" type="pfx:Amount"/>
      <xsd:element name="type" type="pfx:alpha50" minOccurs="0"/>
      <xsd:element name="discount" type="pfx:Discount" minOccurs="0"/>
      <xsd:element name="taxAdjustment" type="pfx:TaxAdjustment" minOccurs="0"/>
      <xsd:element name="taxRate" type="pfx:ChargeRate" minOccurs="0"/>
      <xsd:element name="id" type="xsd:unsignedInt" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TaxAdjustment">
    <xsd:sequence>
      <xsd:element name="amount" type="pfx:Amount" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TaxIdentification">
    <xsd:sequence>
      <xsd:element name="id" type="pfx:alpha36" minOccurs="0"/>
      <xsd:element name="type" type="pfx:alpha25" minOccurs="0"/>
      <xsd:element name="isForeignTax" type="xsd:boolean" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TimeRange">
    <xsd:sequence>
      <xsd:element name="start" type="xsd:time" minOccurs="0"/>
      <xsd:element name="end" type="xsd:time" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Weight">
    <xsd:sequence>
      <xsd:element name="amount" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="uom" type="pfx:alpha20" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WorkOrder">
    <xsd:sequence>
      <xsd:element name="number" type="xsd:unsignedLong" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="UpdateOrderDispensedStatusRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="hdr:MessageHeader"/>
        <xsd:element name="MessageBody">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="customerOrder" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="pfx:CustomerOrder">
                      <xsd:sequence>
                        <xsd:element name="fulfillmentOrders" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:complexContent>
                              <xsd:extension base="pfx:FulfillmentOrder">
                                <xsd:sequence>
                                  <xsd:choice>
                                    <xsd:element name="pickupOrder">
                                      <xsd:complexType>
                                        <xsd:sequence>
                                          <xsd:element name="lastChangedBy"
                                             type="pfx:Credentials"/>
                                          <xsd:element name="status" type="pfx:Status"
                                             minOccurs="0"/>
                                        </xsd:sequence>
                                      </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name="deliveryOrder">
                                      <xsd:complexType>
                                        <xsd:complexContent>
                                          <xsd:extension base="pfx:DeliveryOrder">
                                            <xsd:sequence>
                                              <xsd:element name="redeliveryReason"
                                                 type="pfx:Reason" minOccurs="0"/>
                                              <xsd:element name="lastChangedBy"
                                                 type="pfx:Credentials"
                                                 minOccurs="0"/>
                                              <xsd:element name="status"
                                                 type="pfx:Status" minOccurs="0"/>
                                            </xsd:sequence>
                                          </xsd:extension>
                                        </xsd:complexContent>
                                      </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name="shippingOrder">
                                      <xsd:complexType>
                                        <xsd:sequence>
                                          <xsd:element name="package" minOccurs="0"
                                             maxOccurs="unbounded">
                                            <xsd:complexType>
                                              <xsd:complexContent>
                                                <xsd:extension base="pfx:Package">
                                                  <xsd:sequence>
                                                    <xsd:element name="carrierMethod"
                                                       type="pfx:CarrierMethod"
                                                       minOccurs="0"/>
                                                    <xsd:element name="status"
                                                       type="pfx:Status"
                                                       minOccurs="0"/>
                                                  </xsd:sequence>
                                                </xsd:extension>
                                              </xsd:complexContent>
                                            </xsd:complexType>
                                          </xsd:element>
                                        </xsd:sequence>
                                      </xsd:complexType>
                                    </xsd:element>
                                  </xsd:choice>
                                  <xsd:element name="deliveryDetails" type="pfx:DeliveryDetails"
                                     minOccurs="0"/>
                                  <xsd:element name="salesReceipt" type="pfx:SalesReceipt"
                                     minOccurs="0"/>
                                  <xsd:element name="workOrder" type="pfx:WorkOrder"
                                     minOccurs="0"/>
                                  <xsd:element name="orderLines" minOccurs="0"
                                     maxOccurs="unbounded">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="dispensedQuantity"
                                           type="pfx:Quantity" minOccurs="0"/>
                                        <xsd:element name="substitutedQuantity"
                                           type="pfx:Quantity" minOccurs="0"/>
                                        <xsd:element name="substitutionInfo"
                                           minOccurs="0" maxOccurs="unbounded">
                                          <xsd:complexType>
                                            <xsd:complexContent>
                                              <xsd:extension base="pfx:SubstitutionLine">
                                                <xsd:sequence>
                                                  <xsd:element name="weight"
                                                     type="pfx:Weight" minOccurs="0"/>
                                                  <xsd:element name="product">
                                                    <xsd:complexType>
                                                      <xsd:complexContent>
                                                        <xsd:extension base="pfx:Product">
                                                          <xsd:sequence>
                                                            <xsd:element
                                                               name="priceAdjustment"
                                                               type="pfx:PriceAdjustment"
                                                               minOccurs="0"
                                                               maxOccurs="unbounded"/>
                                                          </xsd:sequence>
                                                        </xsd:extension>
                                                      </xsd:complexContent>
                                                    </xsd:complexType>
                                                  </xsd:element>
                                                </xsd:sequence>
                                              </xsd:extension>
                                            </xsd:complexContent>
                                          </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="pickedBy" type="pfx:Credentials"
                                           minOccurs="0"/>
                                        <xsd:element name="container" type="pfx:Container"
                                           minOccurs="0" maxOccurs="unbounded"/>
                                        <xsd:element name="package" type="pfx:Package"
                                           minOccurs="0"/>
                                        <xsd:element name="rejection" minOccurs="0"
                                           maxOccurs="unbounded">
                                          <xsd:complexType>
                                            <xsd:complexContent>
                                              <xsd:extension base="pfx:PickupRejection">
                                                <xsd:sequence>
                                                  <xsd:element name="tax"
                                                     type="pfx:Tax" minOccurs="0"
                                                     maxOccurs="unbounded"/>
                                                  <xsd:element name="rejectedProduct"
                                                     type="pfx:Product"
                                                     minOccurs="0"/>
                                                  <xsd:element name="type" minOccurs="0">
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:enumeration value="O"/>
															<xsd:enumeration value="S"/>
														</xsd:restriction>
													</xsd:simpleType>
												  </xsd:element>
                                                </xsd:sequence>
                                              </xsd:extension>
                                            </xsd:complexContent>
                                          </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="orderLine" minOccurs="0">
                                          <xsd:complexType>
                                            <xsd:complexContent>
                                              <xsd:extension base="pfx:OrderLine">
                                                <xsd:sequence>
                                                  <xsd:element name="product"
                                                     type="pfx:Product"
                                                     maxOccurs="unbounded"/>
                                                  <xsd:element name="price"
                                                     type="pfx:Price" minOccurs="0"/>
                                                  <xsd:element name="priceAdjustment"
                                                     type="pfx:PriceAdjustment"
                                                     minOccurs="0" maxOccurs="unbounded"/>
                                                  <xsd:element name="actualPickedWeight"
                                                     type="pfx:Weight" minOccurs="0"/>
                                                </xsd:sequence>
                                              </xsd:extension>
                                            </xsd:complexContent>
                                          </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="pickedQuantity" type="pfx:Quantity" minOccurs="0" maxOccurs="1"/>
                                        <xsd:element name="dispensedWeight" type="pfx:Weight" minOccurs="0" maxOccurs="1"/>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element name="customerName" type="pfx:Name"
                                     minOccurs="0"/>
                                  <xsd:element name="signature" type="pfx:CreditApplication"
                                     minOccurs="0"/>
                                </xsd:sequence>
                              </xsd:extension>
                            </xsd:complexContent>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="originatingNode" type="pfx:Node"/>
                      </xsd:sequence>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="UpdateOrderDispensedStatusResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="hdr:MessageHeader"/>
        <xsd:element name="MessageBody">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="responseMessage" type="pfx:ResponseMessage"/>
              <xsd:element name="MessageExtensions" type="pfx:MessageExtension"
                 minOccurs="0" maxOccurs="10"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="fault">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="hdr:MessageHeader"/>
		<xsd:element ref="flt:MessageFault"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
