primary-ports-adapters/src/main/resources/xsd/orderpickbegin/UpdateOrderFulfillmentStatus_PickingBegin.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace"
  elementFormDefault="qualified" attributeFormDefault="qualified" targetNamespace="http://www.xmlns.walmartstores.com/SupplyChain/CustomerOrderManagement/datatypes/UpdateOrderFulfillmentStatus/updateOrderPickingBeginStatus/"
   xmlns:pfx="http://www.xmlns.walmartstores.com/SupplyChain/CustomerOrderManagement/datatypes/UpdateOrderFulfillmentStatus/updateOrderPickingBeginStatus/"
   version="2.6" xmlns:hdr="http://www.xmlns.walmartstores.com/Header/datatypes/MessageHeader/1.4/"
   xmlns:flt="http://www.xmlns.walmartstores.com/Fault/datatypes/MessageFault/1.0/">
  <xsd:import namespace="http://www.xmlns.walmartstores.com/Header/datatypes/MessageHeader/1.4/"
     schemaLocation="MessageHeader.xsd"/>
  <xsd:import namespace="http://www.xmlns.walmartstores.com/Fault/datatypes/MessageFault/1.0/"
     schemaLocation="MessageFault.xsd"/>
  <xsd:simpleType name="alpha1">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="alpha2">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="alpha3">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="alpha6">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="alpha10">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="alpha16">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="alpha18">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="18"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="alpha20">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="alpha25">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="25"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="alpha30">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="alpha36">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="36"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="alpha40">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="alpha50">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="alpha80">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="80"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="alpha100">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="100"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="alpha255">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="255"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="alpha512">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="512"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="email">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="255"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Address">
    <xsd:sequence>
      <xsd:element name="addressLine1" type="pfx:alpha100" minOccurs="0"/>
      <xsd:element name="addressLine2" type="pfx:alpha100" minOccurs="0"/>
      <xsd:element name="addressLine3" type="pfx:alpha100" minOccurs="0"/>
      <xsd:element name="addressLine4" type="pfx:alpha100" minOccurs="0"/>
      <xsd:element name="city" type="pfx:alpha80" minOccurs="0"/>
      <xsd:element name="county" type="pfx:alpha80" minOccurs="0"/>
      <xsd:element name="state" type="pfx:alpha3" minOccurs="0"/>
      <xsd:element name="zip" type="pfx:alpha20" minOccurs="0"/>
      <xsd:element name="type" type="pfx:AddressType" minOccurs="0"/>
      <xsd:element name="inCity" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="country" type="pfx:Country" minOccurs="0"/>
      <xsd:element name="recipientName" type="pfx:alpha255" minOccurs="0"/>
      <xsd:element name="isStandardized" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="postalCode" type="pfx:alpha20" minOccurs="0"/>
      <xsd:element name="effectiveDateRange" type="pfx:DateRange" minOccurs="0"/>
      <xsd:element name="district" type="pfx:alpha80" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AddressType">
    <xsd:sequence>
      <xsd:element name="code" type="pfx:alpha20" minOccurs="0"/>
      <xsd:element name="description" type="pfx:alpha255" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AgeRange">
    <xsd:sequence>
      <xsd:element name="start" type="xsd:unsignedShort" minOccurs="0"/>
      <xsd:element name="end" type="xsd:unsignedShort" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Amount">
    <xsd:sequence>
      <xsd:element name="value" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal">
            <xsd:fractionDigits value="4"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="currency" type="pfx:Currency" minOccurs="0"/>
      <xsd:element name="type" type="pfx:alpha10" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Priority">
    <xsd:sequence>
      <xsd:element name="code" type="xsd:unsignedInt" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="description" type="pfx:alpha100" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType> 
  <xsd:complexType name="Associate">
    <xsd:complexContent>
      <xsd:extension base="pfx:Person">
        <xsd:sequence>
          <xsd:element name="win" type="xsd:unsignedLong" minOccurs="0"/>
          <xsd:element name="isManager" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="discount" type="pfx:Discount" minOccurs="0"/>
          <xsd:element name="discountCard" type="pfx:DiscountCard" minOccurs="0"
             maxOccurs="unbounded"/>
          <xsd:element name="credentials" type="pfx:Credentials" minOccurs="0"/>
          <xsd:element name="id" type="xsd:unsignedLong" minOccurs="0"/>
          <xsd:element name="type" type="pfx:AssociateType" minOccurs="0"/>
          <xsd:element name="employmentStatus" type="pfx:EmploymentStatus"
             minOccurs="0"/>
          <xsd:element name="hireDate" type="xsd:date" minOccurs="0"/>
          <xsd:element name="originalHireDate" type="xsd:date" minOccurs="0"/>
          <xsd:element name="terminationDate" type="xsd:date" minOccurs="0"/>
          <xsd:element name="lastWorkDate" type="xsd:date" minOccurs="0"/>
          <xsd:element name="isStoreAssociate" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="departmentEntryDate" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="ftePercent" type="xsd:decimal" minOccurs="0"/>
          <xsd:element name="standardWeeklyHours" type="xsd:unsignedShort"
             minOccurs="0"/>
          <xsd:element name="availability" type="pfx:DayTimeRange" minOccurs="0"
             maxOccurs="unbounded"/>
          <xsd:element name="basePayRate" type="pfx:PayRate" minOccurs="0"
             maxOccurs="unbounded"/>
          <xsd:element name="payType" type="pfx:PayType" minOccurs="0"/>
          <xsd:element name="isAvailable24x7" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="contact" type="pfx:Contact" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AssociateType">
    <xsd:sequence>
      <xsd:element name="code" type="pfx:alpha10" minOccurs="0"/>
      <xsd:element name="description" type="pfx:alpha80" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BaseDivision">
    <xsd:sequence>
      <xsd:element name="code" type="pfx:alpha10" minOccurs="0"/>
      <xsd:element name="description" type="pfx:alpha100" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Brand">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:unsignedLong" minOccurs="0"/>
      <xsd:element name="name" type="pfx:alpha80" minOccurs="0"/>
      <xsd:element name="isPrivateLabel" type="xsd:boolean" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Category">
    <xsd:sequence>
      <xsd:element name="number" type="xsd:unsignedInt" minOccurs="0"/>
      <xsd:element name="description" type="pfx:alpha80" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ChargeCode">
    <xsd:sequence>
      <xsd:element name="code" type="xsd:unsignedInt" minOccurs="0"/>
      <xsd:element name="description" type="pfx:alpha80" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ChargeRate">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:unsignedInt" minOccurs="0"/>
      <xsd:element name="amount" type="pfx:Amount" minOccurs="0"/>
      <xsd:element name="type" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="pfx:alpha20">
            <xsd:enumeration value="FIXEDAMOUNT"/>
            <xsd:enumeration value="PERCENT"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="chargeType" type="pfx:ChargeType" minOccurs="0"/>
      <xsd:element name="startDate" type="xsd:date" minOccurs="0"/>
      <xsd:element name="endDate" type="xsd:date" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ChargeType">
    <xsd:sequence>
      <xsd:element name="number" type="xsd:unsignedInt" minOccurs="0"/>
      <xsd:element name="name" type="pfx:alpha50" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CommunicationMethod">
    <xsd:sequence>
      <xsd:element name="code" type="xsd:unsignedShort" minOccurs="0"/>
      <xsd:element name="description" type="pfx:alpha100" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Contact">
    <xsd:sequence>
      <xsd:element name="email" type="pfx:email" minOccurs="0"/>
      <xsd:element name="faxNumber" type="pfx:alpha18" minOccurs="0"/>
      <xsd:element name="phone" type="pfx:Phone" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="sensitivity" type="pfx:Sensitivity" minOccurs="0"/>
      <xsd:element name="websiteURL" type="pfx:alpha255" minOccurs="0"/>
      <xsd:element name="name" type="pfx:Name" minOccurs="0"/>
      <xsd:element name="type" type="pfx:alpha80" minOccurs="0"/>
      <xsd:element name="communicationMethod" type="pfx:CommunicationMethod"
         minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="effectiveDateRange" type="pfx:DateRange" minOccurs="0"/>
      <xsd:element name="isPreferred" type="xsd:boolean" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Cost">
    <xsd:sequence>
      <xsd:element name="amount" type="pfx:Amount"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Country">
    <xsd:sequence>
      <xsd:element name="code" type="pfx:alpha2" minOccurs="0"/>
      <xsd:element name="name" type="pfx:alpha100" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Credentials">
    <xsd:sequence>
      <xsd:element name="email" type="pfx:email" minOccurs="0"/>
      <xsd:element name="userID" type="pfx:alpha20" minOccurs="0"/>
      <xsd:element name="password" type="xsd:string" minOccurs="0"/>
      <xsd:element name="pin" type="xsd:unsignedInt" minOccurs="0"/>
      <xsd:element name="phone" type="pfx:Phone" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Currency">
    <xsd:sequence>
      <xsd:element name="code" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="3"/>
            <xsd:maxLength value="3"/>
            <xsd:pattern value="[A-Z][A-Z][A-Z]"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="description" type="pfx:alpha80" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CustomerOrder">
    <xsd:sequence>
      <xsd:element name="orderHeader" type="pfx:OrderHeader"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DateRange">
    <xsd:sequence>
      <xsd:element name="start" type="xsd:date" minOccurs="0"/>
      <xsd:element name="end" type="xsd:date" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DayTimeRange">
    <xsd:sequence>
      <xsd:element name="day" type="pfx:alpha25" minOccurs="0"/>
      <xsd:element name="startTime" type="xsd:time" minOccurs="0"/>
      <xsd:element name="endTime" type="xsd:time" minOccurs="0"/>
      <xsd:element name="effectiveDate" type="xsd:date" minOccurs="0"/>
      <xsd:element name="expirationDate" type="xsd:date" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Department">
    <xsd:sequence>
      <xsd:element name="category" type="pfx:Category" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="number" type="xsd:unsignedInt" minOccurs="0"/>
      <xsd:element name="description" type="pfx:alpha80" minOccurs="0"/>
      <xsd:element name="division" type="pfx:Division" minOccurs="0"/>
      <xsd:element name="operatingHours" type="pfx:DayTimeRange" minOccurs="0"
         maxOccurs="unbounded"/>
      <xsd:element name="type" type="pfx:DepartmentType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DepartmentType">
    <xsd:sequence>
      <xsd:element name="code" type="pfx:alpha25" minOccurs="0"/>
      <xsd:element name="description" type="pfx:alpha100" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Dimensions">
    <xsd:sequence>
      <xsd:element name="height" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="width" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="length" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="uom" type="pfx:alpha20" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Discount">
    <xsd:sequence>
      <xsd:element name="amount" type="pfx:Amount" minOccurs="0"/>
      <xsd:element name="type" type="pfx:alpha50" minOccurs="0"/>
      <xsd:element name="description" type="xsd:string" minOccurs="0"/>
      <xsd:element name="percent" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="discountAdjustment" type="pfx:DiscountAdjustment"
         minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DiscountAdjustment">
    <xsd:sequence>
      <xsd:element name="amount" type="xsd:float" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DiscountCard">
    <xsd:sequence>
      <xsd:element name="cardNumber" type="pfx:alpha16" minOccurs="0"/>
      <xsd:element name="sequenceNumber" type="xsd:unsignedShort" minOccurs="0"/>
      <xsd:element name="isCardValid" type="xsd:boolean" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Division">
    <xsd:sequence>
      <xsd:element name="number" type="xsd:unsignedShort" minOccurs="0"/>
      <xsd:element name="description" type="pfx:alpha80" minOccurs="0"/>
      <xsd:element name="status" type="pfx:Status" minOccurs="0"/>
      <xsd:element name="openDate" type="xsd:date" minOccurs="0"/>
      <xsd:element name="closeDate" type="xsd:date" minOccurs="0"/>
      <xsd:element name="type" type="pfx:DivisionType" minOccurs="0"/>
      <xsd:element name="subType" type="pfx:DivisionSubType" minOccurs="0"/>
      <xsd:element name="isSalesComparable" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="financialCompanyCode" type="pfx:alpha10" minOccurs="0"/>
      <xsd:element name="financialReportCode" type="pfx:alpha10" minOccurs="0"/>
      <xsd:element name="taxReportCode" type="pfx:alpha10" minOccurs="0"/>
      <xsd:element name="expenseType" type="pfx:ExpenseType" minOccurs="0"/>
      <xsd:element name="hasAlternateHierachy" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="isSpecialty" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="grossSize" type="pfx:Quantity" minOccurs="0"/>
      <xsd:element name="netSize" type="pfx:Quantity" minOccurs="0"/>
      <xsd:element name="salesCompType" type="pfx:SalesCompType" minOccurs="0"/>
      <xsd:element name="manager" type="pfx:Associate" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DivisionSubType">
    <xsd:sequence>
      <xsd:element name="code" type="pfx:alpha25" minOccurs="0"/>
      <xsd:element name="description" type="pfx:alpha80" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DivisionType">
    <xsd:sequence>
      <xsd:element name="code" type="pfx:alpha10" minOccurs="0"/>
      <xsd:element name="description" type="pfx:alpha80" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EmploymentStatus">
    <xsd:sequence>
      <xsd:element name="code" type="pfx:alpha10" minOccurs="0"/>
      <xsd:element name="description" type="pfx:alpha80" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Ethnicity">
    <xsd:sequence>
      <xsd:element name="code" type="pfx:alpha10" minOccurs="0"/>
      <xsd:element name="description" type="pfx:alpha80" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ExpenseType">
    <xsd:sequence>
      <xsd:element name="code" type="pfx:alpha10" minOccurs="0"/>
      <xsd:element name="description" type="pfx:alpha80" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FulfillmentOrder">
    <xsd:sequence>
      <xsd:element name="requestNumber" type="xsd:unsignedLong" minOccurs="0"/>
      <xsd:element name="orderHeader" type="pfx:OrderHeader" minOccurs="0"/>
      <xsd:element name="orderType" type="pfx:alpha20"/>
      <xsd:element name="status" type="pfx:Status" minOccurs="0"/>
      <xsd:element name="node" type="pfx:Node"/>
      <xsd:element name="loadSequenceNumber" type="pfx:alpha10" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Gender">
    <xsd:sequence>
      <xsd:element name="code" type="pfx:alpha10" minOccurs="0"/>
      <xsd:element name="description" type="pfx:alpha80" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GlobalTradeItem">
    <xsd:sequence>
      <xsd:element name="gtin">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="([0-9])*"/>
            <xsd:maxLength value="14"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Item">
    <xsd:sequence>
      <xsd:element name="number" type="xsd:unsignedInt"/>
      <xsd:element name="cost" type="pfx:Cost"/>
      <xsd:element name="handlingCost" type="pfx:Cost" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Language">
    <xsd:sequence>
      <xsd:element name="code" type="pfx:alpha10" minOccurs="0"/>
      <xsd:element name="description" type="pfx:alpha80" minOccurs="0"/>
      <xsd:element name="isPrimary" type="xsd:boolean" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Location">
    <xsd:sequence>
      <xsd:element name="countryCode" type="pfx:alpha2"/>
      <xsd:element name="name" type="pfx:alpha100" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MaritalStatus">
    <xsd:sequence>
      <xsd:element name="code" type="pfx:alpha10" minOccurs="0"/>
      <xsd:element name="description" type="pfx:alpha80" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MessageExtension">
    <xsd:sequence>
      <xsd:element name="name" type="pfx:alpha20"/>
      <xsd:element name="value" type="pfx:alpha255"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Name">
    <xsd:sequence>
      <xsd:element name="first" type="pfx:alpha80" minOccurs="0"/>
      <xsd:element name="middle" type="pfx:alpha80" minOccurs="0"/>
      <xsd:element name="middleInitial" type="pfx:alpha1" minOccurs="0"/>
      <xsd:element name="last" type="pfx:alpha80" minOccurs="0"/>
      <xsd:element name="fullName" type="pfx:alpha255" minOccurs="0"/>
      <xsd:element name="prefix" type="pfx:alpha50" minOccurs="0"/>
      <xsd:element name="suffix" type="pfx:alpha50" minOccurs="0"/>
      <xsd:element name="additionalLastName" type="pfx:alpha80" minOccurs="0"/>
      <xsd:element name="initials" type="pfx:alpha30" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Nationality">
    <xsd:sequence>
      <xsd:element name="code" type="pfx:alpha25" minOccurs="0"/>
      <xsd:element name="description" type="pfx:alpha100" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Node">
    <xsd:sequence>
      <xsd:element name="location" type="pfx:Location"/>
      <xsd:element name="nodeID">
        <xsd:simpleType>
          <xsd:restriction base="xsd:unsignedInt">
            <xsd:minInclusive value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="type" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="HO"/>
            <xsd:enumeration value="PMDC"/>
            <xsd:enumeration value="RHO"/>
            <xsd:enumeration value="apparelDC"/>
            <xsd:enumeration value="dcStore"/>
            <xsd:enumeration value="destination"/>
            <xsd:enumeration value="dotcom"/>
            <xsd:enumeration value="dsv"/>
            <xsd:enumeration value="eCommerceRetail"/>
            <xsd:enumeration value="eCommerceRetailSpecialty"/>
            <xsd:enumeration value="eCommerceRetailWarehouseDC"/>
            <xsd:enumeration value="eCommerceWholesale"/>
            <xsd:enumeration value="ecomDC"/>
            <xsd:enumeration value="gasStations"/>
            <xsd:enumeration value="groceryDC"/>
            <xsd:enumeration value="importsDC"/>
            <xsd:enumeration value="importsWholesale"/>
            <xsd:enumeration value="inboundTransportation"/>
            <xsd:enumeration value="logisticsEliminations"/>
            <xsd:enumeration value="pharmacyDC"/>
            <xsd:enumeration value="regionalDC"/>
            <xsd:enumeration value="retail"/>
            <xsd:enumeration value="retailConnectivity"/>
            <xsd:enumeration value="retailFinancialServices"/>
            <xsd:enumeration value="retailOptical"/>
            <xsd:enumeration value="retailPharmacy"/>
            <xsd:enumeration value="retailPhotoCenter"/>
            <xsd:enumeration value="retailShoes"/>
            <xsd:enumeration value="retailSpecialty"/>
            <xsd:enumeration value="retailSpecialtyWarehouse/DC"/>
            <xsd:enumeration value="retailTLE"/>
            <xsd:enumeration value="retailWarehouse/DC"/>
            <xsd:enumeration value="returnCenter"/>
            <xsd:enumeration value="samsclub"/>
            <xsd:enumeration value="serviceBanking"/>
            <xsd:enumeration value="serviceCenter"/>
            <xsd:enumeration value="serviceParkingLot"/>
            <xsd:enumeration value="serviceRestaurant"/>
            <xsd:enumeration value="serviceRestaurantWarehouse/DC"/>
            <xsd:enumeration value="store"/>
            <xsd:enumeration value="supplier"/>
            <xsd:enumeration value="transportation"/>
            <xsd:enumeration value="transportationRetail"/>
            <xsd:enumeration value="warehouse/DC"/>
            <xsd:enumeration value="wholesale"/>
            <xsd:enumeration value="wholesaleConnectivity"/>
            <xsd:enumeration value="wholesaleOptical"/>
            <xsd:enumeration value="wholesalePharmacy"/>
            <xsd:enumeration value="wholesalePhotoCenter"/>
            <xsd:enumeration value="wholesaleTMA"/>
            <xsd:enumeration value="wholesaleWarehouse/DC"/>
            <xsd:enumeration value="wpm"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="baseDivision" type="pfx:BaseDivision" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
   <xsd:complexType name="DispatchMethod">
    <xsd:sequence>
      <xsd:element name="code" type="pfx:alpha10" minOccurs="0"/>
      <xsd:element name="name" type="pfx:alpha100" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  
    <xsd:complexType name="FulfillmentMethod">
    <xsd:sequence>
      <xsd:element name="code" type="pfx:alpha10" minOccurs="0"/>
      <xsd:element name="name" type="pfx:alpha100" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Offering">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:unsignedInt" minOccurs="0"/>
      <xsd:element name="richInformation" type="pfx:RichInformation" minOccurs="0"
         maxOccurs="unbounded"/>
      <xsd:element name="name" type="pfx:alpha100" minOccurs="0"/>
      <xsd:element name="description" type="pfx:alpha512" minOccurs="0"/>
      <xsd:element name="secondaryDescription" type="pfx:alpha512" minOccurs="0"/>
      <xsd:element name="category" type="pfx:Category" minOccurs="0"/>
      <xsd:element name="globalTradeItem" type="pfx:GlobalTradeItem" minOccurs="0"
         maxOccurs="unbounded"/>
      <xsd:element name="plu" type="xsd:unsignedInt" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="price" type="pfx:Price" minOccurs="0"/>
      <xsd:element name="regularPrice" type="pfx:Price" minOccurs="0"/>
      <xsd:element name="basePrice" type="pfx:Price" minOccurs="0"/>
      <xsd:element name="type" type="pfx:alpha20" minOccurs="0"/>
      <xsd:element name="isAssociateDiscountable" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="chargeCodes" type="pfx:ChargeCode" minOccurs="0"
         maxOccurs="unbounded"/>
      <xsd:element name="is3rdParty" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="department" type="pfx:Department" minOccurs="0"/>
      <xsd:element name="isFSAEligible" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="isServiceIncome" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="shortDescription" type="pfx:alpha10" minOccurs="0"/>
      <xsd:element name="signDescription" type="pfx:alpha25" minOccurs="0"/>
      <xsd:element name="salesMessage" type="pfx:alpha20" minOccurs="0"/>
      <xsd:element name="isCreditPromoEligible" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="isRebate" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="isNonMemberUpcharge" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="isNew" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="salesRule" type="pfx:SalesRule" minOccurs="0"/>
      <xsd:element name="isPriceKeyRequired" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="dateAdded" type="xsd:date" minOccurs="0"/>
      <xsd:element name="isRefundable" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="cardValue" type="pfx:Amount" minOccurs="0"/>
      <xsd:element name="dateRange" type="pfx:DateRange" minOccurs="0"/>
      <xsd:element name="isAlwaysTaxed" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="shopDescription" type="pfx:alpha80" minOccurs="0"/>
      <xsd:element name="receiptDescription" type="pfx:alpha25" minOccurs="0"/>
      <xsd:element name="startDate" type="xsd:date" minOccurs="0"/>
      <xsd:element name="endDate" type="xsd:date" minOccurs="0"/>
      <xsd:element name="performanceRatingType" type="pfx:PerformanceRatingType"
         minOccurs="0"/>
      <xsd:element name="isNeverOut" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="presentationUnits" type="xsd:unsignedInt" minOccurs="0"/>
      <xsd:element name="isResellableAfterReturn" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="isShelfLabelRequired" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="isShelfRotation" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="hasMinimumAllowedPrice" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="isPriceEntryPrompted" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="priceComparisionPackageQuantity" type="pfx:Quantity"
         minOccurs="0"/>
      <xsd:element name="priceComparisionUnitQuantity" type="pfx:Quantity"
         minOccurs="0"/>
      <xsd:element name="packageSizeRange" type="pfx:PackageSizeRange" minOccurs="0"/>
      <xsd:element name="tax" type="pfx:Tax" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OrderHeader">
    <xsd:sequence>
      <xsd:element name="orderNumber" type="xsd:unsignedLong"/>
      <xsd:element name="numberOfOrderLines" type="xsd:unsignedInt" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OrderLine">
    <xsd:sequence>
      <xsd:element name="lineNumber" type="xsd:unsignedInt"/>
      <xsd:element name="status" type="pfx:Status" minOccurs="0"/>
      <xsd:element name="orderLineQuantity" type="pfx:Quantity"/>
      <xsd:element name="pickedBy" type="pfx:Credentials" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Override">
    <xsd:sequence>
      <xsd:element name="number" type="xsd:unsignedShort" minOccurs="0"/>
      <xsd:element name="description" type="pfx:alpha80" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PackageSizeRange">
    <xsd:sequence>
      <xsd:element name="high" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="low" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="uom" type="pfx:alpha20" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PayRate">
    <xsd:sequence>
      <xsd:element name="amount" type="pfx:Amount" minOccurs="0"/>
      <xsd:element name="effectiveDate" type="xsd:date" minOccurs="0"/>
      <xsd:element name="expirationDate" type="xsd:date" minOccurs="0"/>
      <xsd:element name="period" type="pfx:PayRatePeriod" minOccurs="0"/>
      <xsd:element name="reason" type="pfx:Reason" minOccurs="0"/>
      <xsd:element name="dateOfNextReview" type="xsd:date" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PayRatePeriod">
    <xsd:sequence>
      <xsd:element name="code" type="pfx:alpha25" minOccurs="0"/>
      <xsd:element name="description" type="pfx:alpha255" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PayType">
    <xsd:sequence>
      <xsd:element name="code" type="pfx:alpha25" minOccurs="0"/>
      <xsd:element name="description" type="pfx:alpha100" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PerformanceRatingType">
    <xsd:sequence>
      <xsd:element name="code" type="pfx:alpha25" minOccurs="0"/>
      <xsd:element name="description" type="pfx:alpha100" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Person">
    <xsd:sequence>
      <xsd:element name="name" type="pfx:Name" minOccurs="0"/>
      <xsd:element name="gender" type="pfx:Gender" minOccurs="0"/>
      <xsd:element name="dateOfBirth" type="xsd:date" minOccurs="0"/>
      <xsd:element name="annualIncome" type="pfx:Amount" minOccurs="0"/>
      <xsd:element name="isVIP" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="monthlyRentOrMortgage" type="pfx:Amount" minOccurs="0"/>
      <xsd:element name="address" type="pfx:Address" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="nationalID" type="pfx:alpha20" minOccurs="0"/>
      <xsd:element name="federalDependents" type="xsd:unsignedShort" minOccurs="0"/>
      <xsd:element name="stateDependents" type="xsd:unsignedShort" minOccurs="0"/>
      <xsd:element name="taxMaritalStatus" type="pfx:MaritalStatus" minOccurs="0"/>
      <xsd:element name="actualMaritalStatus" type="pfx:MaritalStatus" minOccurs="0"/>
      <xsd:element name="preferredLanguage" type="pfx:Language" minOccurs="0"/>
      <xsd:element name="ethnicity" type="pfx:Ethnicity" minOccurs="0"/>
      <xsd:element name="birthName" type="pfx:Name" minOccurs="0"/>
      <xsd:element name="preferredName" type="pfx:Name" minOccurs="0"/>
      <xsd:element name="numberOfChildren" type="xsd:unsignedShort" minOccurs="0"/>
      <xsd:element name="nationality" type="pfx:Nationality" minOccurs="0"/>
      <xsd:element name="birthPlace" type="pfx:alpha100" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Phone">
    <xsd:sequence>
      <xsd:element name="number" type="pfx:alpha18" minOccurs="0"/>
      <xsd:element name="extension" type="pfx:alpha6" minOccurs="0"/>
      <xsd:element name="type" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="home"/>
            <xsd:enumeration value="mobile"/>
            <xsd:enumeration value="primary"/>
            <xsd:enumeration value="seconday"/>
            <xsd:enumeration value="work"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Price">
    <xsd:sequence>
      <xsd:element name="amount" type="pfx:Amount"/>
      <xsd:element name="type" type="pfx:PriceType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PriceAdjustment">
    <xsd:sequence>
      <xsd:element name="amount" type="pfx:Amount" minOccurs="0"/>
      <xsd:element name="description" type="pfx:alpha512" minOccurs="0"/>
      <xsd:element name="adjustedPrice" type="pfx:Price" minOccurs="0"/>
      <xsd:element name="purchaseQuantity" type="pfx:Quantity" minOccurs="0"/>
      <xsd:element name="type" type="pfx:alpha10" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PriceType">
    <xsd:sequence>
      <xsd:element name="code" type="pfx:alpha10" minOccurs="0"/>
      <xsd:element name="description" type="pfx:alpha80" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Product">
    <xsd:complexContent>
      <xsd:extension base="pfx:Offering">
        <xsd:sequence>
          <xsd:element name="isAvailableForPickup" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="dimensions" type="pfx:Dimensions" minOccurs="0"/>
          <xsd:element name="weight" type="pfx:Weight" minOccurs="0"/>
          <xsd:element name="color" type="pfx:alpha80" minOccurs="0"/>
          <xsd:element name="size" type="pfx:alpha80" minOccurs="0"/>
          <xsd:element name="sellingQuantity" type="pfx:Quantity" minOccurs="0"/>
          <xsd:element name="priceComparisonQuantity" type="pfx:Quantity"
             minOccurs="0"/>
          <xsd:element name="isVariableWeight" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="productInstance" type="pfx:ProductInstance"
             minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="isMultiBox" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="isHazmat" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="isRecalled" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="pickQuantityThreshold" type="xsd:unsignedInt"
             minOccurs="0"/>
          <xsd:element name="dietType" type="pfx:alpha20" minOccurs="0"/>
          <xsd:element name="idealLowTemperature" type="pfx:Temperature"
             minOccurs="0"/>
          <xsd:element name="idealHighTemperature" type="pfx:Temperature"
             minOccurs="0"/>
          <xsd:element name="acceptableLowTemperature" type="pfx:Temperature"
             minOccurs="0"/>
          <xsd:element name="acceptableHighTemperature" type="pfx:Temperature"
             minOccurs="0"/>
          <xsd:element name="streetDate" type="xsd:date" minOccurs="0"/>
          <xsd:element name="brand" type="pfx:Brand" minOccurs="0"/>
          <xsd:element name="isAgeRestrictedToReceive" type="xsd:boolean"
             minOccurs="0"/>
          <xsd:element name="isOnFeature" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="hasEASTag" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="isGiveaway" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="isHealthyIncentive" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="isImport" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="isDirectImport" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="isLocalSourced" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="isAcquiredImport" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="isBeverage" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="isWicEligible" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="isSNAPEligible" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="isLayawayEligible" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="isFoodstampEligible" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="tareWeight" type="pfx:Weight" minOccurs="0"/>
          <xsd:element name="tarePercent" type="xsd:decimal" minOccurs="0"/>
          <xsd:element name="isCompByWeight" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="compPerUomPrice" type="pfx:Price" minOccurs="0"/>
          <xsd:element name="isSoldByWeight" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="isElectronicRegistration" type="xsd:boolean"
             minOccurs="0"/>
          <xsd:element name="serialNumberMask" type="pfx:alpha25" minOccurs="0"/>
          <xsd:element name="serialCheckDigitMask" type="pfx:alpha25" minOccurs="0"/>
          <xsd:element name="isWarrantyAvailable" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="isRestockable" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="hasExtendedBarcode" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="shelfLife" type="pfx:Quantity" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ProductInstance">
    <xsd:sequence>
      <xsd:element name="number" type="pfx:alpha100" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProductOffering">
    <xsd:sequence>
      <xsd:element name="id" type="pfx:alpha36"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Quantity">
    <xsd:sequence>
      <xsd:element name="amount" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Reason">
    <xsd:sequence>
      <xsd:element name="code" type="pfx:alpha40" minOccurs="0"/>
      <xsd:element name="description" type="pfx:alpha80" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResponseMessage">
    <xsd:sequence>
      <xsd:element name="code" type="pfx:alpha20"/>
      <xsd:element name="description" type="pfx:alpha512"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RichInformation">
    <xsd:sequence>
      <xsd:element name="picture" type="xsd:base64Binary" minOccurs="0"/>
      <xsd:element name="pictureURL" type="pfx:alpha255" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SalesCompType">
    <xsd:sequence>
      <xsd:element name="code" type="pfx:alpha25" minOccurs="0"/>
      <xsd:element name="description" type="pfx:alpha80" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SalesMessage">
    <xsd:sequence>
      <xsd:element name="textLine1" type="pfx:alpha25" minOccurs="0"/>
      <xsd:element name="textLine2" type="pfx:alpha25" minOccurs="0"/>
      <xsd:element name="type" type="pfx:alpha80" minOccurs="0"/>
      <xsd:element name="sequenceNumber" type="xsd:unsignedShort" minOccurs="0"/>
      <xsd:element name="override" type="pfx:Override" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SalesRestriction">
    <xsd:sequence>
      <xsd:element name="minimumAgeToBuy" type="xsd:unsignedShort" minOccurs="0"/>
      <xsd:element name="minimumAgeToSell" type="xsd:unsignedShort" minOccurs="0"/>
      <xsd:element name="isCustomerBirthdateRequired" type="xsd:boolean"
         minOccurs="0"/>
      <xsd:element name="isSaleAllowed" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="purchaseLimit" type="pfx:Quantity" minOccurs="0"/>
      <xsd:element name="groupPurchaseLimit" type="pfx:Quantity" minOccurs="0"/>
      <xsd:element name="noSaleTimes" type="pfx:DayTimeRange" minOccurs="0"
         maxOccurs="unbounded"/>
      <xsd:element name="checkIDAgeRange" type="pfx:AgeRange" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SalesRule">
    <xsd:sequence>
      <xsd:element name="number" type="xsd:unsignedInt" minOccurs="0"/>
      <xsd:element name="sequenceNumber" type="xsd:unsignedShort" minOccurs="0"/>
      <xsd:element name="description" type="pfx:alpha80" minOccurs="0"/>
      <xsd:element name="startDate" type="xsd:date" minOccurs="0"/>
      <xsd:element name="endDate" type="xsd:date" minOccurs="0"/>
      <xsd:element name="salesMessage" type="pfx:SalesMessage" minOccurs="0"/>
      <xsd:element name="SalesRestriction" type="pfx:SalesRestriction" minOccurs="0"/>
      <xsd:element name="applyAtTransactionType" type="pfx:TransactionType"
         minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Sensitivity">
    <xsd:sequence>
      <xsd:element name="code" minOccurs="0"/>
      <xsd:element name="description" type="pfx:alpha100" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Status">
    <xsd:sequence>
      <xsd:element name="code" type="pfx:alpha10"/>
      <xsd:element name="eventTime" type="xsd:dateTime"/>
      <xsd:element name="description" type="pfx:alpha80" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Tax">
    <xsd:sequence>
      <xsd:element name="amount" type="pfx:Amount" minOccurs="0"/>
      <xsd:element name="type" type="pfx:alpha50" minOccurs="0"/>
      <xsd:element name="discount" type="pfx:Discount" minOccurs="0"/>
      <xsd:element name="taxAdjustment" type="pfx:TaxAdjustment" minOccurs="0"/>
      <xsd:element name="taxRate" type="pfx:ChargeRate" minOccurs="0"/>
      <xsd:element name="isRefundable" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="id" type="xsd:unsignedInt" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TaxAdjustment">
    <xsd:sequence>
      <xsd:element name="amount" type="pfx:Amount" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Temperature">
    <xsd:sequence>
      <xsd:element name="value" type="xsd:float" minOccurs="0"/>
      <xsd:element name="uom" type="pfx:alpha20" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TransactionType">
    <xsd:sequence>
      <xsd:element name="code" type="pfx:alpha10" minOccurs="0"/>
      <xsd:element name="description" type="pfx:alpha80" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Weight">
    <xsd:sequence>
      <xsd:element name="amount" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="uom" type="pfx:alpha20" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Fault">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="hdr:MessageHeader"/>
		<xsd:element ref="flt:MessageFault"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="UpdateOrderPickingBeginStatusRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="hdr:MessageHeader"/>
        <xsd:element name="MessageBody">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="customerOrder" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="pfx:CustomerOrder">
                      <xsd:sequence>
                        <xsd:element name="fulfillmentOrders" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:complexContent>
                              <xsd:extension base="pfx:FulfillmentOrder">
                                <xsd:sequence>
                                 <xsd:element name="dispatchMethod"
                                           type="pfx:DispatchMethod" minOccurs="0"/>
                                 <xsd:element name="fulfillmentMethod"
                                           type="pfx:FulfillmentMethod" minOccurs="0"/>
                                  <xsd:element name="orderPriority" type="pfx:Priority" minOccurs="0" maxOccurs="1"/>	
                                  <xsd:element name="orderLineInfo" type="pfx:OrderLine"
                                     minOccurs="0" maxOccurs="unbounded"/>                                     
                                </xsd:sequence>
                              </xsd:extension>
                            </xsd:complexContent>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="originatingNode" type="pfx:Node"/>
                      </xsd:sequence>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="MessageExtensions" type="pfx:MessageExtension"
                 minOccurs="0" maxOccurs="5"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="UpdateOrderPickingBeginStatusResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="hdr:MessageHeader"/>
        <xsd:element name="MessageBody">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="responseMessage" type="pfx:ResponseMessage"/>
              <xsd:element name="MessageExtensions" type="pfx:MessageExtension"
                 minOccurs="0" maxOccurs="10"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
