secondary-ports-adapters/src/main/java/com/walmart/fms/infrastructure/integration/gateway/store/xsd/forceOrderCancellation/UpdateFulfillmentOrder.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified"
            attributeFormDefault="qualified"
            targetNamespace="http://www.xmlns.walmartstores.com/SupplyChain/FulfillmentManagement/datatypes/UpdateFulfillmentOrder/"
            xmlns:pfx="http://www.xmlns.walmartstores.com/SupplyChain/FulfillmentManagement/datatypes/UpdateFulfillmentOrder/"
            version="2.5"
            xmlns:hdr="http://www.xmlns.walmartstores.com/Header/datatypes/MessageHeader/1.4/"
            xmlns:flt="http://www.xmlns.walmartstores.com/Fault/datatypes/MessageFault/1.0/">
    <xsd:import
            namespace="http://www.xmlns.walmartstores.com/Header/datatypes/MessageHeader/1.4/"
            schemaLocation="MessageHeader.xsd"/>
    <xsd:import
            namespace="http://www.xmlns.walmartstores.com/Fault/datatypes/MessageFault/1.0/"
            schemaLocation="MessageFault.xsd"/>
    <xsd:simpleType name="alpha1">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="alpha2">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="alpha3">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="alpha6">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="6"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="alpha10">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="alpha18">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="18"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="alpha20">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="alpha25">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="25"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="alpha30">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="alpha40">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="alpha50">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="alpha80">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="80"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="alpha100">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="alpha255">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="255"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="alpha512">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="512"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="email">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="255"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="alpha600">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="600"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="alpha16">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="16"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="Address">
        <xsd:sequence>
            <xsd:element name="addressLine1" type="pfx:alpha100"
                         minOccurs="0"/>
            <xsd:element name="addressLine2" type="pfx:alpha100"
                         minOccurs="0"/>
            <xsd:element name="addressLine3" type="pfx:alpha100"
                         minOccurs="0"/>
            <xsd:element name="addressLine4" type="pfx:alpha100"
                         minOccurs="0"/>
            <xsd:element name="addressLine5" type="pfx:alpha100"
                         minOccurs="0"/>
            <xsd:element name="city" type="pfx:alpha80" minOccurs="0"/>
            <xsd:element name="county" type="pfx:alpha80" minOccurs="0"/>
            <xsd:element name="state" type="pfx:alpha3" minOccurs="0"/>
            <xsd:element name="zip" type="pfx:alpha20" minOccurs="0"/>
            <xsd:element name="type" type="pfx:AddressType"
                         minOccurs="0"/>
            <xsd:element name="inCity" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="country" type="pfx:Country" minOccurs="0"/>
            <xsd:element name="recipientName" type="pfx:alpha255"
                         minOccurs="0"/>
            <xsd:element name="isStandardized" type="xsd:boolean"
                         minOccurs="0"/>
            <xsd:element name="postalCode" type="pfx:alpha20"
                         minOccurs="0"/>
            <xsd:element name="effectiveDateRange" type="pfx:DateRange"
                         minOccurs="0"/>
            <xsd:element name="district" type="pfx:alpha80"
                         minOccurs="0"/>
            <xsd:element name="memo" type="pfx:alpha255" minOccurs="0"/>
            <xsd:element name="poBox" type="pfx:alpha10" minOccurs="0"/>
            <xsd:element name="isDefault" type="xsd:boolean"
                         minOccurs="0"/>
            <xsd:element name="isPreferred" type="xsd:boolean"
                         minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AddressType">
        <xsd:sequence>
            <xsd:element name="code" type="pfx:alpha20" minOccurs="0"/>
            <xsd:element name="description" type="pfx:alpha255"
                         minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AlternatePickupContact">
        <xsd:sequence>
            <xsd:element name="firstName" type="pfx:alpha50"
                         minOccurs="0"/>
            <xsd:element name="lastName" type="pfx:alpha50"
                         minOccurs="0"/>
            <xsd:element name="contact" type="pfx:Contact" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Weight">
        <xsd:sequence>
            <xsd:element name="amount" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="uom" type="pfx:alpha20" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Amount">
        <xsd:sequence>
            <xsd:element name="value" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:fractionDigits value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="currency" type="pfx:Currency"
                         minOccurs="0"/>
            <xsd:element name="type" type="pfx:alpha10" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BaseDivision">
        <xsd:sequence>
            <xsd:element name="code" type="pfx:alpha10" minOccurs="0"/>
            <xsd:element name="description" type="pfx:alpha100"
                         minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CardType">
        <xsd:sequence>
            <xsd:element name="code" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="AMEX"/>
                        <xsd:enumeration value="ASDA_CREDIT"/>
                        <xsd:enumeration value="ASDA_STORE"/>
                        <xsd:enumeration value="CUP_CREDIT"/>
                        <xsd:enumeration value="DELTA"/>
                        <xsd:enumeration value="DINERS"/>
                        <xsd:enumeration value="DISCOVER"/>
                        <xsd:enumeration value="GE_BUSINESS"/>
                        <xsd:enumeration value="GE_DIRECT"/>
                        <xsd:enumeration value="GE_PERSONAL"/>
                        <xsd:enumeration value="JAPAN_CREDIT"/>
                        <xsd:enumeration value="MASTERCARD"/>
                        <xsd:enumeration value="SAMS_DUAL_BUSINESS"/>
                        <xsd:enumeration value="SAMS_DUAL_CONSUMER"/>
                        <xsd:enumeration value="SEIYU"/>
                        <xsd:enumeration value="SOLO"/>
                        <xsd:enumeration value="VISA"/>
                        <xsd:enumeration value="VISA_ELECTRON"/>
                        <xsd:enumeration value="WM_BUSINESS"/>
                        <xsd:enumeration value="WM_COMMUNITY"/>
                        <xsd:enumeration value="WM_CREDIT"/>
                        <xsd:enumeration value="WM_DISCOVER"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="description" type="pfx:alpha255"
                         minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DispatchMethod">
        <xsd:sequence>
            <xsd:element name="code" type="pfx:alpha10" minOccurs="0"/>
            <xsd:element name="name" type="pfx:alpha100" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FulfillmentMethod">
        <xsd:sequence>
            <xsd:element name="code" type="pfx:alpha10" minOccurs="0"/>
            <xsd:element name="name" type="pfx:alpha100" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ChargeRate">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:unsignedInt" minOccurs="0"/>
            <xsd:element name="amount" type="pfx:Amount" minOccurs="0"/>
            <xsd:element name="type" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="pfx:alpha20">
                        <xsd:enumeration value="FIXEDAMOUNT"/>
                        <xsd:enumeration value="PERCENT"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="chargeType" type="pfx:ChargeType"
                         minOccurs="0"/>
            <xsd:element name="startDate" type="xsd:date" minOccurs="0"/>
            <xsd:element name="endDate" type="xsd:date" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ChargeType">
        <xsd:sequence>
            <xsd:element name="number" type="xsd:unsignedInt"
                         minOccurs="0"/>
            <xsd:element name="name" type="pfx:alpha50" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CommunicationMethod">
        <xsd:sequence>
            <xsd:element name="code" type="xsd:unsignedShort"
                         minOccurs="0"/>
            <xsd:element name="description" type="pfx:alpha100"
                         minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Contact">
        <xsd:sequence>
            <xsd:element name="email" type="pfx:email" minOccurs="0"/>
            <xsd:element name="faxNumber" type="pfx:Phone" minOccurs="0"/>
            <xsd:element name="phone" type="pfx:Phone" minOccurs="0"
                         maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Country">
        <xsd:sequence>
            <xsd:element name="code" type="pfx:alpha2" minOccurs="0"/>
            <xsd:element name="name" type="pfx:alpha100" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Currency">
        <xsd:sequence>
            <xsd:element name="code" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="3"/>
                        <xsd:maxLength value="3"/>
                        <xsd:pattern value="[A-Z][A-Z][A-Z]"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="description" type="pfx:alpha80"
                         minOccurs="0"/>
            <xsd:element name="numericCode" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="3"/>
                        <xsd:maxLength value="3"/>
                        <xsd:pattern value="[0-9][0-9][0-9]"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CustomerOrder">
        <xsd:sequence>
            <xsd:element name="orderHeader" type="pfx:OrderHeader"
                         minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DateRange">
        <xsd:sequence>
            <xsd:element name="start" type="xsd:date" minOccurs="0"/>
            <xsd:element name="end" type="xsd:date" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Discount">
        <xsd:sequence>
            <xsd:element name="amount" type="pfx:Amount" minOccurs="0"/>
            <xsd:element name="type" type="pfx:alpha50" minOccurs="0"/>
            <xsd:element name="description" type="xsd:string"
                         minOccurs="0"/>
            <xsd:element name="percent" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="discountAdjustment" type="pfx:DiscountAdjustment"
                         minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DiscountAdjustment">
        <xsd:sequence>
            <xsd:element name="amount" type="xsd:float" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FulfillmentOrder">
        <xsd:sequence>
            <xsd:element name="requestNumber" type="xsd:unsignedLong"
                         minOccurs="0"/>
            <xsd:element name="orderHeader" type="pfx:OrderHeader" minOccurs="0"/>
            <xsd:element name="orderType" type="pfx:alpha20"
                         minOccurs="0"/>
            <xsd:element name="status" type="pfx:Status" minOccurs="0"/>
            <xsd:element name="node" type="pfx:Node"/>
            <xsd:element name="pickupDetails" type="pfx:PickupDetails"
                         minOccurs="0"/>
            <xsd:element name="deliveryDetails" type="pfx:DeliveryDetails"
                         minOccurs="0"/>
            <xsd:element name="totalTaxAmount" type="pfx:Amount"
                         minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GlobalTradeItem">
        <xsd:sequence>
            <xsd:element name="gtin" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:pattern value="([0-9])*"/>
                        <xsd:maxLength value="14"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="description" type="pfx:alpha100"
                         minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Issuer">
        <xsd:sequence>
            <xsd:element name="iin" type="pfx:alpha6" minOccurs="0"/>
            <xsd:element name="name" type="pfx:alpha80" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Language">
        <xsd:sequence>
            <xsd:element name="code" type="pfx:alpha10" minOccurs="0"/>
            <xsd:element name="description" type="pfx:alpha80"
                         minOccurs="0"/>
            <xsd:element name="isPrimary" type="xsd:boolean"
                         minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Location">
        <xsd:sequence>
            <xsd:element name="locationAddress" type="pfx:Address"
                         minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="countryCode" type="pfx:alpha2"/>
            <xsd:element name="country" type="pfx:alpha255"
                         minOccurs="0"/>
            <xsd:element name="globalLocationNumber" type="xsd:unsignedLong"
                         minOccurs="0"/>
            <xsd:element name="name" type="pfx:alpha100" minOccurs="0"/>
            <xsd:element name="currency" type="pfx:Currency"
                         minOccurs="0"/>
            <xsd:element name="geoCode" type="xsd:unsignedLong"
                         minOccurs="0"/>
            <xsd:element name="language" type="pfx:Language"
                         minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MessageExtension">
        <xsd:sequence>
            <xsd:element name="name" type="pfx:alpha20"/>
            <xsd:element name="value" type="pfx:alpha255"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Name">
        <xsd:sequence>
            <xsd:element name="first" type="pfx:alpha80" minOccurs="0"/>
            <xsd:element name="middle" type="pfx:alpha80" minOccurs="0"/>
            <xsd:element name="middleInitial" type="pfx:alpha1"
                         minOccurs="0"/>
            <xsd:element name="last" type="pfx:alpha80" minOccurs="0"/>
            <xsd:element name="fullName" type="pfx:alpha255"
                         minOccurs="0"/>
            <xsd:element name="prefix" type="pfx:alpha50" minOccurs="0"/>
            <xsd:element name="suffix" type="pfx:alpha50" minOccurs="0"/>
            <xsd:element name="additionalLastName" type="pfx:alpha80"
                         minOccurs="0"/>
            <xsd:element name="initials" type="pfx:alpha30"
                         minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Node">
        <xsd:sequence>
            <xsd:element name="location" type="pfx:Location"/>
            <xsd:element name="nodeID">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedInt">
                        <xsd:minInclusive value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="type" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="HO"/>
                        <xsd:enumeration value="PMDC"/>
                        <xsd:enumeration value="RHO"/>
                        <xsd:enumeration value="apparelDC"/>
                        <xsd:enumeration value="dcStore"/>
                        <xsd:enumeration value="destination"/>
                        <xsd:enumeration value="dotcom"/>
                        <xsd:enumeration value="dsv"/>
                        <xsd:enumeration value="eCommerceRetail"/>
                        <xsd:enumeration value="eCommerceRetailSpecialty"/>
                        <xsd:enumeration value="eCommerceRetailWarehouseDC"/>
                        <xsd:enumeration value="eCommerceWholesale"/>
                        <xsd:enumeration value="ecomDC"/>
                        <xsd:enumeration value="gasStations"/>
                        <xsd:enumeration value="groceryDC"/>
                        <xsd:enumeration value="importsDC"/>
                        <xsd:enumeration value="importsWholesale"/>
                        <xsd:enumeration value="inboundTransportation"/>
                        <xsd:enumeration value="logisticsEliminations"/>
                        <xsd:enumeration value="pharmacyDC"/>
                        <xsd:enumeration value="regionalDC"/>
                        <xsd:enumeration value="retail"/>
                        <xsd:enumeration value="retailConnectivity"/>
                        <xsd:enumeration value="retailFinancialServices"/>
                        <xsd:enumeration value="retailOptical"/>
                        <xsd:enumeration value="retailPharmacy"/>
                        <xsd:enumeration value="retailPhotoCenter"/>
                        <xsd:enumeration value="retailShoes"/>
                        <xsd:enumeration value="retailSpecialty"/>
                        <xsd:enumeration value="retailSpecialtyWarehouse/DC"/>
                        <xsd:enumeration value="retailTLE"/>
                        <xsd:enumeration value="retailWarehouse/DC"/>
                        <xsd:enumeration value="returnCenter"/>
                        <xsd:enumeration value="samsclub"/>
                        <xsd:enumeration value="serviceBanking"/>
                        <xsd:enumeration value="serviceCenter"/>
                        <xsd:enumeration value="serviceParkingLot"/>
                        <xsd:enumeration value="serviceRestaurant"/>
                        <xsd:enumeration value="serviceRestaurantWarehouse/DC"/>
                        <xsd:enumeration value="store"/>
                        <xsd:enumeration value="supplier"/>
                        <xsd:enumeration value="transportation"/>
                        <xsd:enumeration value="transportationRetail"/>
                        <xsd:enumeration value="warehouse/DC"/>
                        <xsd:enumeration value="wholesale"/>
                        <xsd:enumeration value="wholesaleConnectivity"/>
                        <xsd:enumeration value="wholesaleOptical"/>
                        <xsd:enumeration value="wholesalePharmacy"/>
                        <xsd:enumeration value="wholesalePhotoCenter"/>
                        <xsd:enumeration value="wholesaleTMA"/>
                        <xsd:enumeration value="wholesaleWarehouse/DC"/>
                        <xsd:enumeration value="wpm"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="baseDivision" type="pfx:BaseDivision"
                         minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Offering">
        <xsd:sequence>
            <xsd:element name="isAvailableForPickup" type="xsd:boolean"
                         minOccurs="0"/>
            <xsd:element name="id" type="xsd:unsignedInt" minOccurs="0"/>
            <xsd:element name="description" type="pfx:alpha512" minOccurs="0"/>
            <xsd:element name="globalTradeItem" type="pfx:GlobalTradeItem"
                         minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="price" minOccurs="0">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="pfx:Price">
                            <xsd:sequence>
                                <xsd:element name="priceAdjustment" type="pfx:PriceAdjustment"
                                             minOccurs="0" maxOccurs="unbounded"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="tax" type="pfx:Tax" minOccurs="0"
                         maxOccurs="unbounded"/>
            <xsd:element name="type" type="pfx:alpha20" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="OrderHeader">
        <xsd:sequence>
            <xsd:element name="orderNumber" type="xsd:unsignedLong" minOccurs="0"/>
            <xsd:element name="orderPlacedDateTime" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="numberOfOrderLines" type="xsd:unsignedInt" minOccurs="0"/>
            <xsd:element name="expirationDate" type="xsd:dateTime" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PickingInstructions">
        <xsd:sequence>
            <xsd:element name="customerNotes" type="pfx:alpha512"
                         minOccurs="0"/>
            <xsd:element name="pickingInstruction" type="pfx:alpha100"
                         minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="OrderLine">
        <xsd:sequence>
            <xsd:element name="lineNumber" type="xsd:unsignedInt"
                         minOccurs="0"/>
            <xsd:element name="status" type="pfx:Status" minOccurs="0"/>
            <xsd:element name="product" type="pfx:Product" minOccurs="0"
                         maxOccurs="unbounded"/>
            <xsd:element name="price" minOccurs="0">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="pfx:Price">
                            <xsd:sequence>
                                <xsd:element name="priceAdjustment" type="pfx:PriceAdjustment"
                                             minOccurs="0" maxOccurs="unbounded"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="orderLineQuantity" type="pfx:Quantity"
                         minOccurs="0"/>
            <xsd:element name="totalWeight" type="pfx:Weight"
                         minOccurs="0"/>
            <xsd:element name="isSubstitutionAllowed" type="xsd:boolean"
                         minOccurs="0"/>
            <xsd:element name="pickingInstructions" type="pfx:PickingInstructions"
                         minOccurs="0"/>
            <xsd:element name="isOrderByQuantity" type="xsd:boolean"
                         minOccurs="0"/>
            <xsd:element name="totalTaxAmount" type="pfx:Amount"
                         minOccurs="0"/>
            <xsd:element name="fulfilledUnitPrice" type="pfx:Price"
                         minOccurs="0" maxOccurs="1"/>
            <xsd:element name="substitutionLine" minOccurs="0"
                         maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="pfx:SubstitutionLine">
                            <xsd:sequence>
                                <xsd:element name="product" minOccurs="0" maxOccurs="unbounded">
                                    <xsd:complexType>
                                        <xsd:complexContent>
                                            <xsd:extension base="pfx:Offering">
                                                <xsd:sequence>
                                                    <xsd:element name="weight" type="pfx:Weight"
                                                                 minOccurs="0"/>
                                                    <xsd:element name="sellingQuantity" type="pfx:Quantity"
                                                                 minOccurs="0"/>
                                                </xsd:sequence>
                                            </xsd:extension>
                                        </xsd:complexContent>
                                    </xsd:complexType>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="pickedQuantity" type="pfx:Quantity"
                         minOccurs="0" maxOccurs="1"/>
            <xsd:element name="substitutedQuantity" type="pfx:Quantity"
                         minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SubstitutionLine">
        <xsd:sequence>
            <xsd:element name="type" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="O"/>
                        <xsd:enumeration value="S"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="quantity" type="pfx:Quantity"
                         minOccurs="0"/>
            <xsd:element name="totalWeight" type="pfx:Weight"
                         minOccurs="0"/>
            <xsd:element name="isOrderByQuantity" type="xsd:boolean"
                         minOccurs="0"/>
            <xsd:element name="totalTaxAmount" type="pfx:Amount"
                         minOccurs="0"/>
            <xsd:element name="fulfilledUnitPrice" type="pfx:Price"
                         minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Package">
        <xsd:sequence>
            <xsd:element name="sequenceNumber" type="xsd:unsignedShort"
                         minOccurs="0"/>
            <xsd:element name="assignmentNumber" type="xsd:unsignedLong"
                         minOccurs="0"/>
            <xsd:element name="packageID" type="pfx:alpha30"
                         minOccurs="0"/>
            <xsd:element name="trackingNumber" type="pfx:alpha50"
                         minOccurs="0"/>
            <xsd:element name="status" type="pfx:Status" minOccurs="0"/>
            <xsd:element name="asnNumber" type="pfx:alpha25"
                         minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PaymentAuthorization">
        <xsd:sequence>
            <xsd:element name="approvalNumber" type="pfx:alpha10"
                         minOccurs="0"/>
            <xsd:element name="authResultCode" type="pfx:alpha3"
                         minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PaymentCard">
        <xsd:complexContent>
            <xsd:extension base="pfx:PaymentInstrument">
                <xsd:sequence>
                    <xsd:element name="type" type="pfx:CardType" minOccurs="0"/>
                    <xsd:element name="billingAddress" type="pfx:Location"
                                 minOccurs="0"/>
                    <xsd:element name="lastFourDigits" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:pattern value="[0-9][0-9][0-9][0-9]"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="PaymentInstrument">
        <xsd:sequence>
            <xsd:element name="referenceNumber" type="pfx:alpha10"
                         minOccurs="0"/>
            <xsd:element name="instrumentType" type="pfx:PaymentInstrumentType"
                         minOccurs="0"/>
            <xsd:element name="holderName" type="pfx:alpha255"
                         minOccurs="0"/>
            <xsd:element name="issuer" type="pfx:Issuer" minOccurs="0"/>
            <xsd:element name="suffixNumber" type="pfx:alpha10"
                         minOccurs="0"/>
            <xsd:element name="issuerCountryCode" type="pfx:alpha2"
                         minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PaymentInstrumentType">
        <xsd:sequence>
            <xsd:element name="code" type="pfx:alpha10" minOccurs="0"/>
            <xsd:element name="description" type="pfx:alpha80"
                         minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Phone">
        <xsd:sequence>
            <xsd:element name="number" type="pfx:alpha18" minOccurs="0"/>
            <xsd:element name="type" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="pfx:alpha25">
                        <xsd:enumeration value="home"/>
                        <xsd:enumeration value="mobile"/>
                        <xsd:enumeration value="primary"/>
                        <xsd:enumeration value="secondary"/>
                        <xsd:enumeration value="work"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PickupDetails">
        <xsd:sequence>
            <xsd:element name="alternatePickupContact" type="pfx:AlternatePickupContact"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Price">
        <xsd:sequence>
            <xsd:element name="amount" type="pfx:Amount" minOccurs="0"/>
            <xsd:element name="type" type="pfx:PriceType" minOccurs="0"/>
            <xsd:element name="uom" type="pfx:alpha20" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PriceAdjustment">
        <xsd:sequence>
            <xsd:element name="amount" type="pfx:Amount" minOccurs="0"/>
            <xsd:element name="description" type="pfx:alpha512"
                         minOccurs="0"/>
            <xsd:element name="adjustedPrice" type="pfx:Price"
                         minOccurs="0"/>
            <xsd:element name="purchaseQuantity" type="pfx:Quantity"
                         minOccurs="0"/>
            <xsd:element name="type" type="pfx:alpha10" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PriceType">
        <xsd:sequence>
            <xsd:element name="code" type="pfx:alpha10" minOccurs="0"/>
            <xsd:element name="description" type="pfx:alpha80"
                         minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Product">
        <xsd:complexContent>
            <xsd:extension base="pfx:Offering">
                <xsd:sequence>
                    <xsd:element name="weight" type="pfx:Weight" minOccurs="0"/>
                    <xsd:element name="sellingQuantity" type="pfx:Quantity"
                                 minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Quantity">
        <xsd:sequence>
            <xsd:element name="amount" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="uom" type="pfx:alpha20" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DiscountCard">
        <xsd:sequence>
            <xsd:element name="cardNumber" type="pfx:alpha16"
                         minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Reason">
        <xsd:sequence>
            <xsd:element name="code" type="pfx:alpha40" minOccurs="0"/>
            <xsd:element name="description" type="pfx:alpha80"
                         minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ResponseMessage">
        <xsd:sequence>
            <xsd:element name="code" type="pfx:alpha20"/>
            <xsd:element name="description" type="pfx:alpha512"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SalesTransaction">
        <xsd:sequence>
            <xsd:element name="transactionCode" type="pfx:alpha30"
                         minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Sensitivity">
        <xsd:sequence>
            <xsd:element name="code" minOccurs="0"/>
            <xsd:element name="description" type="pfx:alpha100"
                         minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Status">
        <xsd:sequence>
            <xsd:element name="code" type="pfx:alpha10" minOccurs="0"/>
            <xsd:element name="eventTime" type="xsd:dateTime"
                         minOccurs="0"/>
            <xsd:element name="description" type="pfx:alpha80"
                         minOccurs="0"/>
            <xsd:element name="statusChangeReason" type="pfx:Reason"
                         minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Tax">
        <xsd:sequence>
            <xsd:element name="amount" type="pfx:Amount" minOccurs="0"/>
            <xsd:element name="type" type="pfx:alpha50" minOccurs="0"/>
            <xsd:element name="discount" type="pfx:Discount"
                         minOccurs="0"/>
            <xsd:element name="taxAdjustment" type="pfx:TaxAdjustment"
                         minOccurs="0"/>
            <xsd:element name="taxRate" type="pfx:ChargeRate"
                         minOccurs="0"/>
            <xsd:element name="id" type="xsd:unsignedInt" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TaxAdjustment">
        <xsd:sequence>
            <xsd:element name="amount" type="pfx:Amount" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Customer">
        <xsd:complexContent>
            <xsd:extension base="pfx:Person">
                <xsd:sequence>
                    <xsd:element name="id" type="pfx:alpha100" minOccurs="0"/>
                    <xsd:element name="driversLicenseNumber" type="pfx:alpha20"
                                 minOccurs="0"/>
                    <xsd:element name="contact" type="pfx:Contact"
                                 minOccurs="0"/>
                    <xsd:element name="firstName" type="pfx:alpha50"
                                 minOccurs="0"/>
                    <xsd:element name="middleName" type="pfx:alpha50"
                                 minOccurs="0"/>
                    <xsd:element name="lastName" type="pfx:alpha50"
                                 minOccurs="0"/>
                    <xsd:element name="numberOfRefunds" type="xsd:unsignedInt"
                                 minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="Person">
        <xsd:sequence/>
    </xsd:complexType>

    <xsd:complexType name="DeliveryDetails">
        <xsd:sequence>
            <xsd:element name="deliveryETA" type="xsd:dateTime"
                         minOccurs="0"/>
            <xsd:element name="deliveryScheduleTimeSlot" type="pfx:TimeRange"
                         minOccurs="0"/>
            <xsd:element name="deliveryInstructions" type="pfx:alpha512"
                         minOccurs="0"/>
            <xsd:element name="doorstepTime" type="xsd:time"
                         minOccurs="0"/>
            <xsd:element name="deliveryZone" type="pfx:alpha20"
                         minOccurs="0"/>
            <xsd:element name="deliveryLocation" type="pfx:Location"
                         minOccurs="0"/>
            <xsd:element name="deliveryContact" type="pfx:DeliveryContact"
                         minOccurs="0"/>
            <xsd:element name="carrierMethodCode" type="pfx:alpha10"
                         minOccurs="0"/>
            <xsd:element name="shippingMethod" type="pfx:ShippingMethod"
                         minOccurs="0"/>
            <xsd:element name="vehicleRegistrationNumber" type="pfx:alpha20"
                         minOccurs="0"/>
            <xsd:element name="carrierMethod" type="pfx:CarrierMethod"
                         minOccurs="0"/>
            <xsd:element name="deliveryNoteOrderMessage" type="pfx:Message"
                         minOccurs="0"/>
            <xsd:element name="deliveryNoteMarketingMessage" type="pfx:Message"
                         minOccurs="0"/>
            <xsd:element name="deliveryNoteReturnInstructions" type="pfx:Message"
                         minOccurs="0"/>
            <xsd:element name="shipETA" type="xsd:dateTime"
                         minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Fee">
        <xsd:sequence>
            <xsd:element name="id" type="pfx:alpha100" minOccurs="0"/>
            <xsd:element name="amount" type="pfx:Amount" minOccurs="0"/>
            <xsd:element name="tax" type="pfx:Tax" minOccurs="0"/>
            <xsd:element name="type" type="pfx:alpha50" minOccurs="0"/>
            <xsd:element name="feeRate" type="pfx:ChargeRate"
                         minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CarrierMethod">
        <xsd:sequence>
            <xsd:element name="carrierMethodCode" type="pfx:alpha10"
                         minOccurs="0"/>
            <xsd:element name="name" type="pfx:alpha100" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ShippingMethod">
        <xsd:sequence>
            <xsd:element name="code" type="pfx:alpha10" minOccurs="0"/>
            <xsd:element name="name" type="pfx:alpha100" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DeliveryContact">
        <xsd:sequence>
            <xsd:element name="firstName" type="pfx:alpha80"
                         minOccurs="0"/>
            <xsd:element name="lastName" type="pfx:alpha80"
                         minOccurs="0"/>
            <xsd:element name="contact" type="pfx:Contact" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TimeRange">
        <xsd:sequence>
            <xsd:element name="start" type="xsd:time" minOccurs="0"/>
            <xsd:element name="end" type="xsd:time" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Message">
        <xsd:sequence>
            <xsd:element name="messageLine1" type="pfx:alpha600"
                         minOccurs="0"/>
            <xsd:element name="messageLine2" type="pfx:alpha600"
                         minOccurs="0"/>
            <xsd:element name="messageLine3" type="pfx:alpha600"
                         minOccurs="0"/>
            <xsd:element name="messageLine4" type="pfx:alpha600"
                         minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RichInformation">
        <xsd:sequence>
            <xsd:element name="picture" type="xsd:base64Binary"
                         minOccurs="0"/>
            <xsd:element name="pictureURL" type="pfx:alpha255"
                         minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Promotion">
        <xsd:sequence>
            <xsd:element name="id" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="description" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="512"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="beginDate" type="xsd:date" minOccurs="0"/>
            <xsd:element name="endDate" type="xsd:date" minOccurs="0"/>
            <xsd:element name="linkSaveId" type="xsd:unsignedShort"
                         minOccurs="0"/>
            <xsd:element name="minSpendAmount" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:sequence>
                            <xsd:element name="value">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:decimal">
                                        <xsd:fractionDigits value="4"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name="currency" minOccurs="0">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:sequence>
                                            <xsd:element name="code" minOccurs="0">
                                                <xsd:simpleType>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:minLength value="3"/>
                                                        <xsd:pattern value="[A-Z][A-Z][A-Z]"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="description" minOccurs="0">
                                                <xsd:simpleType>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="80"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="numericCode" minOccurs="0">
                                                <xsd:simpleType>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:minLength value="3"/>
                                                        <xsd:pattern value="[0-9][0-9][0-9]"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                        </xsd:sequence>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="type" minOccurs="0">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:maxLength value="10"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="maxRepeats" type="xsd:unsignedShort"
                         minOccurs="0"/>
            <xsd:element name="type" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:sequence>
                            <xsd:element name="code" type="xsd:unsignedShort"
                                         minOccurs="0"/>
                            <xsd:element name="description" minOccurs="0">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:maxLength value="80"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="amount" type="xsd:decimal" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CarrierBag">
        <xsd:sequence>
            <xsd:element name="carrierBagCount" type="xsd:integer"
                         minOccurs="0" maxOccurs="1"/>
            <xsd:element name="isCarrierBagRequested" type="xsd:boolean"
                         minOccurs="0" maxOccurs="1"/>
            <xsd:element name="isCarrierBagCountRequired" type="xsd:boolean"
                         minOccurs="0" maxOccurs="1"/>
            <xsd:element name="carrierBagTotalAmount" type="xsd:decimal"
                         minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:element name="Fault">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="hdr:MessageHeader"/>
                <xsd:element ref="flt:MessageFault"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateFulfillmentOrderRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="hdr:MessageHeader"/>
                <xsd:element name="MessageBody">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="customerOrder">
                                <xsd:complexType>
                                    <xsd:complexContent>
                                        <xsd:extension base="pfx:CustomerOrder">
                                            <xsd:sequence>
                                                <xsd:element name="fulfillmentOrder" maxOccurs="unbounded">
                                                    <xsd:complexType>
                                                        <xsd:complexContent>
                                                            <xsd:extension base="pfx:FulfillmentOrder">
                                                                <xsd:sequence>
                                                                    <xsd:element name="dispatchMethod"
                                                                                 type="pfx:DispatchMethod"
                                                                                 minOccurs="0"/>
                                                                    <xsd:element name="fulfillmentMethod"
                                                                                 type="pfx:FulfillmentMethod"
                                                                                 minOccurs="0"/>
                                                                    <xsd:element name="orderLines" minOccurs="0"
                                                                                 maxOccurs="unbounded">
                                                                        <xsd:complexType>
                                                                            <xsd:complexContent>
                                                                                <xsd:extension base="pfx:OrderLine">
                                                                                    <xsd:sequence>
                                                                                        <xsd:element name="package"
                                                                                                     type="pfx:Package"
                                                                                                     minOccurs="0"/>
                                                                                    </xsd:sequence>
                                                                                </xsd:extension>
                                                                            </xsd:complexContent>
                                                                        </xsd:complexType>
                                                                    </xsd:element>
                                                                    <xsd:element name="packages" minOccurs="0"
                                                                                 maxOccurs="unbounded">
                                                                        <xsd:complexType>
                                                                            <xsd:complexContent>
                                                                                <xsd:extension base="pfx:Package">
                                                                                    <xsd:sequence>
                                                                                        <xsd:element
                                                                                                name="deliveryDetails"
                                                                                                type="pfx:DeliveryDetails"
                                                                                                minOccurs="0"/>
                                                                                    </xsd:sequence>
                                                                                </xsd:extension>
                                                                            </xsd:complexContent>
                                                                        </xsd:complexType>
                                                                    </xsd:element>
                                                                    <xsd:element name="salesTransaction"
                                                                                 type="pfx:SalesTransaction"
                                                                                 minOccurs="0"/>
                                                                    <xsd:element name="loadGroupNumber"
                                                                                 type="xsd:unsignedLong"
                                                                                 minOccurs="0"/>
                                                                    <xsd:element name="fee" type="pfx:Fee"
                                                                                 minOccurs="0" maxOccurs="unbounded"/>
                                                                    <xsd:element name="fulfillmentOrderTotal"
                                                                                 type="xsd:float" minOccurs="0"/>
                                                                    <xsd:element name="totalCouponAmount"
                                                                                 type="pfx:Amount" minOccurs="0"
                                                                                 maxOccurs="1"/>
                                                                    <xsd:element name="loadSequenceNumber"
                                                                                 type="pfx:alpha10" minOccurs="0"/>
                                                                    <xsd:element name="tax" type="pfx:Tax"
                                                                                 minOccurs="0" maxOccurs="unbounded"/>
                                                                    <xsd:element name="carrierBag" type="pfx:CarrierBag"
                                                                                 minOccurs="0" maxOccurs="1"/>
                                                                    <xsd:element name="totalPromotionAmount"
                                                                                 type="xsd:decimal" minOccurs="0"/>
                                                                    <xsd:element name="promotion" type="pfx:Promotion"
                                                                                 minOccurs="0" maxOccurs="unbounded"/>
                                                                    <xsd:element name="richInformation"
                                                                                 type="pfx:RichInformation"
                                                                                 minOccurs="0" maxOccurs="unbounded"/>
                                                                </xsd:sequence>
                                                            </xsd:extension>
                                                        </xsd:complexContent>
                                                    </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element name="paymentCard" type="pfx:PaymentCard"
                                                             minOccurs="0" maxOccurs="unbounded"/>
                                                <xsd:element name="paymentAuthorization" type="pfx:PaymentAuthorization"
                                                             minOccurs="0"/>
                                                <xsd:element name="originatingNode" type="pfx:Node"/>
                                                <xsd:element name="customerInfo" minOccurs="0">
                                                    <xsd:complexType>
                                                        <xsd:sequence>
                                                            <xsd:element name="customerDetails"
                                                                         minOccurs="0" maxOccurs="1">
                                                                <xsd:complexType>
                                                                    <xsd:sequence>
                                                                        <xsd:element name="customer" type="pfx:Customer"
                                                                                     minOccurs="0"/>
                                                                        <xsd:element name="location" type="pfx:Location"
                                                                                     minOccurs="0"/>
                                                                    </xsd:sequence>
                                                                </xsd:complexType>
                                                            </xsd:element>
                                                            <xsd:element name="discountCard" type="pfx:DiscountCard"
                                                                         minOccurs="0"/>
                                                        </xsd:sequence>
                                                    </xsd:complexType>
                                                </xsd:element>
                                            </xsd:sequence>
                                        </xsd:extension>
                                    </xsd:complexContent>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="MessageExtensions" type="pfx:MessageExtension"
                                         minOccurs="0" maxOccurs="5"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UpdateFulfillmentOrderResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="hdr:MessageHeader"/>
                <xsd:element name="MessageBody">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="customerOrder">
                                <xsd:complexType>
                                    <xsd:complexContent>
                                        <xsd:extension base="pfx:CustomerOrder">
                                            <xsd:sequence>
                                                <xsd:element name="fulfillmentOrder" maxOccurs="unbounded">
                                                    <xsd:complexType>
                                                        <xsd:complexContent>
                                                            <xsd:extension base="pfx:FulfillmentOrder">
                                                                <xsd:sequence>
                                                                    <xsd:element name="orderLines" minOccurs="0"
                                                                                 maxOccurs="unbounded">
                                                                        <xsd:complexType>
                                                                            <xsd:complexContent>
                                                                                <xsd:extension base="pfx:OrderLine">
                                                                                    <xsd:sequence>
                                                                                        <xsd:element name="package"
                                                                                                     type="pfx:Package"
                                                                                                     minOccurs="0"/>
                                                                                    </xsd:sequence>
                                                                                </xsd:extension>
                                                                            </xsd:complexContent>
                                                                        </xsd:complexType>
                                                                    </xsd:element>
                                                                    <xsd:element name="packages" minOccurs="0"
                                                                                 maxOccurs="unbounded">
                                                                        <xsd:complexType>
                                                                            <xsd:complexContent>
                                                                                <xsd:extension base="pfx:Package">
                                                                                    <xsd:sequence>
                                                                                        <xsd:element
                                                                                                name="deliveryDetails"
                                                                                                type="pfx:DeliveryDetails"
                                                                                                minOccurs="0"/>
                                                                                    </xsd:sequence>
                                                                                </xsd:extension>
                                                                            </xsd:complexContent>
                                                                        </xsd:complexType>
                                                                    </xsd:element>

                                                                </xsd:sequence>
                                                            </xsd:extension>
                                                        </xsd:complexContent>
                                                    </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element name="originatingNode" type="pfx:Node"/>
                                            </xsd:sequence>
                                        </xsd:extension>
                                    </xsd:complexContent>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="responseMessage" type="pfx:ResponseMessage"
                                         minOccurs="0"/>
                            <xsd:element name="MessageExtensions" type="pfx:MessageExtension"
                                         minOccurs="0" maxOccurs="10"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>